<template>
  <div class="proList">
    <!-- 侧边栏组件 -->
    <sliderPage></sliderPage>
    <!-- 主体页面 -->
    <div class="index-main"
         :style="mainC">
      <div class="index-main-box mainSetImageBg"
           :style="mainBg">
        <div class="index-main-opacity">
          <div class="iphoneX-main"
               id="iphoneX-main-proList">
            <div class="header-tt">
              <ul class="header-ul">
                <li class="header-li-left"
                    @click="showA">
                  <i class="iconfont icon-list"></i>
                </li>
                <li class="header-li-middle">
                  {{productTitle}}
                </li>
                <li class="header-li-right">
                  <cartPage></cartPage>
                </li>
              </ul>
            </div>
            <div class="product-main">
              <div class="product-box">
                <div class="product-title">
                  <swiper :options="swiperOptionP">
                    <swiper-slide class="pro-tt-li"
                                  v-bind:class="{'pro-tt-li-active':proTt.state}"
                                  v-for="(proTt, index) in proTts"
                                  :key="index">
                      <div class="pro-tt-li-text"
                           @click="proListChangeJson(index)">{{proTt.title}}</div>
                    </swiper-slide>
                  </swiper>
                </div>
                <div class="product-list"
                     id="proListMain">
                  <div class="product-list-main">
                    <div class="product-main-mian">
                      <ul class="pro-main-ul clearFix">
                        <li class="pro-main-li"
                            v-for="(proList,index) in proLists"
                            :key="index">
                          <div class="pro-li-img"
                               @click="jumpProListdetail(proList.href,pageIdArrNowProlist,index)">
                            <img class="pro-li-images"
                                 v-lazy="proList.img"
                                 :key="proList.img" />
                          </div>
                          <div class="pro-li-des"
                               @click="jumpProListdetail(proList.href,pageIdArrNowProlist,index)">
                            <h3 class="pro-des-name">{{proList.name}}</h3>
                            <p class="pro-des-detail">{{proList.detail}}</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="iphoneX-footer"
               id="iphoneX-footer-proList"></div>
        </div>
      </div>
    </div>
    <!-- 侧边栏显示时，覆盖主页面，点击时隐藏侧边栏 -->
    <div class="slider-common"
         @click="showA"></div>
  </div>
</template>

<script>
import sliderPage from "../../../components/indexSlider.vue";
import cartPage from "../../../components/cartPage.vue";
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";
export default {
  name: "proList",
  components: {
    sliderPage,
    cartPage,
    swiper,
    swiperSlide
  },
  data() {
    return {
      mainC: {
        width: "7.5rem"
      },
      proMainWidth: {
        height: "100%"
      },
      productTitle: "",
      proTtWidth: "7.5rem",
      pageIdArrNowProlist: "",
      mainBg: {
        background: ""
      }, // 设置背景图片
      proTts: [],
      proLists: [],
      proListsAll: [],
      swiperOptionP: {
        loop: false,
        slidesPerView: "auto",
        spaceBetween: 10
      }
    };
  },
  mounted: function() {
    this.isIPhoneX("iphoneX-main-proList", "iphoneX-footer-proList"); // iphoneX适配问题
    let getBgImagesUrl = localStorage.getItem("bgImgUrl"); // 存储背景图片链接
    if (getBgImagesUrl) {
      this.mainBg.background = "url(" + getBgImagesUrl + ")"; // 加载背景图片
    }
    // this.ImgWidthHeight(getBgImagesUrl, this.mainBg); //设定背景图片
    this.proListLoad(); // 加载该页面信息
  },
  methods: {
    proListLoad: function() {
      let _this = this;
      let allImagesIndex = localStorage.getItem("allImages"); //获取图片列表
      let allImagesObj = JSON.parse(allImagesIndex); // json字符串转换成json
      let languageSet = localStorage.getItem("languageSet"); // 语言设置
      let moneyImg = localStorage.getItem("moneyIcon"); // 获取货币符号
      if (!languageSet) {
        languageSet = "en"; // 语言不存在的时候 默认为为英文
      }
      if (!moneyImg) {
        moneyImg = "￥"; // 获取符号不存在时，默认为人民币
      }
      let sliderTitle = localStorage.getItem("sliderTitle"); // 设定标题名称
      if (sliderTitle) {
        this.productTitle = sliderTitle; // 设定标题名称
      }
      let pageIdArr = _this.$route.query.pageId; // 获取当前页面上的pageID
      let pageArrS = pageIdArr;
      if (typeof pageIdArr == "arr") {
        pageArrS = pageIdArr.join(",");
      }
      _this.pageIdArrNowProlist = pageIdArr; //存储
      prolistFun1(pageArrS, pageIdArr);
      function prolistFun1(str, pageIdArr) {
        _this.axios
          .get(
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/batch/?page_id=" +
              str +
              "&" +
              _this.$root.junAppName +
              "",
            {}
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let dataJson = sucss.data.data; // 获取json 数据
              let titleArr = []; // 标题栏初始化数据
              let prolistPageIndex = localStorage.getItem("prolistPageIndex"); // 不是首次进来时的状态
              let pageIdArrLeave = localStorage.getItem("pageIdArrLeave"); // 上次离开页面时存储的url地址
              let productPageInit = 0;
              if (prolistPageIndex && pageIdArrLeave == pageIdArr) {
                productPageInit = prolistPageIndex; // 不是首次进来 记录上次进来的索引值
              }
              let listLen = 0; // 初始化导航栏宽度
              let listAllArrImgInit = []; // 导航栏对应的总数据组
              for (let i = 0; i < dataJson.length; i++) {
                let titleLang = dataJson[i].translates[languageSet].title; // 标题名称
                let proState = ""; // 是否显示选中状态
                if (productPageInit == i) {
                  proState = true; // 判断第几个标题是选中状态
                  localStorage.setItem("prolistPageIndex", i); // 记录当前页面标题的显示状态
                } else {
                  proState = false; // 其他标题未未选中状态
                }
                let listJson = {
                  state: proState, // 是否显示选中状态
                  title: titleLang // 显示标题栏
                };
                titleArr.push(listJson); // 标题栏数组
                // 渲染到列表页的数据
                _this.proListsAll[i] = "";
                let infoListIdsArr = dataJson[i].infoPageIds; // 获取下一级信息
                let jsonInfoList = infoListIdsArr.join(",");
                let listProlist = [];
                listAllArrImgInit.push(listProlist); // 获取数据的总数组
                prolistFun2(
                  jsonInfoList,
                  listAllArrImgInit,
                  i,
                  productPageInit
                );
              }
              _this.proTts = titleArr; // 标题栏数组赋值
            }
          });
      }
      // 获取餐厅下的信息列表页的数据信息，json信息列表页的id
      function prolistFun2(json, arr, index, initEnter) {
        _this.axios
          .get(
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/batch/?page_id=" +
              json +
              "&" +
              _this.$root.junAppName +
              "",
            {}
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let dataAll = sucss.data.data; // data 数据
              let dataAllArr = []; // 列表页
              for (let i = 0; i < dataAll.length; i++) {
                let prolistData = dataAll[i]; // 当前下的总数据
                let prolistTitle = prolistData.translates[languageSet].title; // 标题
                let proListDesStr =
                  prolistData.translates[languageSet].description; // 获取该商品信息下的描述信息
                let prolistDes = _this.escapeHTMLString(proListDesStr); // 描述,去除html标签
                let imgId = "";
                let prolistImgUrl = ""; // 初始化图片链接地址
                if (allImagesObj) {
                  // 判断图片是否存在
                  if (
                    prolistData.info &&
                    prolistData.info.images &&
                    prolistData.info.images[0]
                  ) {
                    let proltDeImages = prolistData.info.images; // 获取图片
                    let imgIdList = proltDeImages[0].internalImageId; // 图片的id地址
                    let imgUrlList = allImagesObj[imgIdList].internal_image_url; // top图片设置
                    prolistImgUrl = imgUrlList;
                  } else if (prolistData.logo) {
                    let imgId = prolistData.logo.internalImageId; // 图片的id地址
                    if (imgId) {
                      let imgUrl = allImagesObj[imgId].internal_image_url; // top图片设置
                      prolistImgUrl = imgUrl;
                    }
                  }
                }
                let json = {
                  img: prolistImgUrl,
                  href: "proListDetail",
                  name: prolistTitle,
                  detail: prolistDes,
                  dataJson: JSON.stringify(prolistData) // 该x信息下的所有信息
                };
                dataAllArr.push(json);
              }
              console.log("dataAllArr", dataAllArr);
              arr[index] = dataAllArr;
              _this.proListsAll = arr; // 所有类别下的商品数据赋值渲染
              _this.proLists = _this.proListsAll[initEnter]; // 类别渲染
            }
          });
      }
    },
    showA: function() {
      // 主页面与侧边栏左右滑动
      if (this.mainC.width == "7.5rem") {
        this.mainC.width = "2.3rem"; // 主屏幕宽度
        $(".index-slider").fadeIn(1000); // 侧边栏显示
        $(".slider-common").css("display", "block"); // 显示侧边栏弹框
      } else {
        this.mainC.width = "7.5rem"; // 主屏幕宽度
        $(".index-slider").fadeOut(1000); // 侧边栏隐藏
        $(".slider-common").css("display", "none"); // 隐藏侧边栏弹框
      }
    },
    proListChangeJson: function(index) {
      this.proLists = this.proListsAll[index]; // 渲染数据
      $(".pro-tt-li").removeClass("pro-tt-li-active"); //未选中状态
      $(".pro-tt-li")
        .eq(index)
        .addClass("pro-tt-li-active"); // 选中状态
      let scrollObj = document.getElementById("proListMain"); // 滚动区域
      scrollObj.scrollTop = 0; // 标题栏切换的时候，返回顶部
      localStorage.setItem("prolistPageIndex", index); // 记录当前页面标题的显示状态
    },
    jumpProListdetail: function(href, pageIdArr, index) {
      this.$router.push({
        name: href,
        query: {
          pageId: pageIdArr
        }
      });
      let proListDetailData = this.proLists[index].dataJson; // 该商品的所有信息
      localStorage.setItem("proListDetailData", proListDetailData); // 设定该商品信息
    },
    escapeHTMLString: function(tab) {
      if (tab) {
        return tab.replace(/<[^<>]+?>/g, ""); //删除所有HTML标签
      } else {
        return "";
      }
    }
  },
  watch: {
    $route(to, from) {
      let newPageIdArr = this.$route.query.pageId; // 获取最新的路由地址
      let oldPageIdArr = localStorage.getItem("pageIdArrLeave"); // 当前页面的路由地址
      if (newPageIdArr) {
        if (oldPageIdArr && oldPageIdArr != newPageIdArr) {
          this.$router.replace({
            path: "proList",
            query: {
              pageId: newPageIdArr
            }
          });
          this.proListLoad(); // 加载该页面信息
          this.mainC.width = "7.5rem"; // 主屏幕宽度
          $(".index-slider").fadeOut(1000); // 侧边栏隐藏
          $(".slider-common").css("display", "none"); // 隐藏侧边栏弹框
        }
      } else {
        this.$router.push({
          path: "/index"
        });
      }
    }
  },
  destroyed: function() {
    //离开页面时
    let pageIdArrLeave = this.$route.query.pageId; // 获取当前页面上的pageID
    localStorage.setItem("pageIdArrLeave", pageIdArrLeave); //设定当前页面的id值
    localStorage.setItem("wholeResText", ""); // 清除整体订单的备注
  }
};
</script>

<style src="../css/proList.scss" lang="scss" scoped>
</style>

