<template>
  <div class="weatherDetail">
    <!-- 侧边栏组件 -->
    <sliderPage></sliderPage>
    <!-- 主体页面 -->
    <div class="index-main"
         :style="mainC">
      <div class="index-main-box mainSetImageBg"
           :style="mainBg">
        <div class="index-main-opacity">
          <div class="iphoneX-main"
               id="iphoneX-main-weather">
            <div class="header-tt">
              <ul class="header-ul">
                <li class="header-li-left"
                    @click="showA">
                  <i class="iconfont icon-list"></i>
                </li>
                <li class="header-li-middle">
                  {{weatherTitle}}
                </li>
                <li class="header-li-right">
                  <cartPage></cartPage>
                </li>
              </ul>
            </div>
            <div class="weatherDetail-main">
              <div class="weatherDetail-box">
                <div class="weather-main">
                  <div class="weather-top">
                    <div class="top-tt">
                      <div class="top-tt-left">
                        <h3 class="left-li li-adress">{{weaDetailAdress}}</h3>
                        <h3 class="left-li li-date">
                          <span>{{todayWeeK}}</span>
                          <span>{{todayDate}}</span>
                        </h3>
                      </div>
                      <div class="top-tt-right">
                        <div class="btn"
                             @click="changeTemp">
                          <div class="btn-li btn-left"
                               v-bind:class="{'btn-active':!isActive}">℉</div>
                          <div class="btn-li btn-right "
                               v-bind:class="{'btn-active':isActive}">℃</div>
                        </div>
                      </div>
                    </div>
                    <div class="top-msg">
                      <div class="msg-img">
                        <img class="imgages"
                             v-lazy="weathImg"
                             :key="weathImg" />
                      </div>
                      <div class="cur-temp">{{curTemp}}</div>
                      <div class="cur-temps">
                        <span class="temp-low">{{todayLow}}</span>
                        <span class="temp-high">{{todayHigh}}</span>
                      </div>
                    </div>
                  </div>
                  <ul class="weather-middle">
                    <li class="wea-li"
                        v-for="(weather,index) in weathers"
                        :key="index">
                      <ul class="li-ul">
                        <li class="li-list li-date">{{weather.date}}</li>
                        <li class="li-list  li-img-box">
                          <img class="img"
                               v-lazy="weather.img"
                               :key="weather.img" />
                        </li>
                        <li class="li-list li-temp">
                          <span class="temp-low">{{weather.tempLow}}</span>
                          <span class="temp-high">{{weather.tempHigh}}</span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="iphoneX-footer"
               id="iphoneX-footer-weather"></div>
        </div>
      </div>
    </div>
    <!-- 侧边栏显示时，覆盖主页面，点击时隐藏侧边栏 -->
    <div class="slider-common"
         @click="showA"></div>
  </div>
</template>

<script>
import sliderPage from "../../../components/indexSlider.vue"; // 侧边栏组件
import cartPage from "../../../components/cartPage.vue"; // 购物车组件
export default {
  name: "weatherDetail",
  components: {
    sliderPage,
    cartPage
  },
  data() {
    return {
      mainC: {
        width: "7.5rem"
      },
      weatherTitle: "Weather Forcast", // 天气title
      weathImg: "", // 今天天气图片
      weaDetailAdress: "", // 地址
      curTemp: "", // 当前温度
      todayLow: "", // 今天最低温度
      todayHigh: "", // 今天最高温度
      todayWeeK: "", // 今天周几
      todayDate: "", // 今天的日期
      weathers: [], // 未来七天的天气数组
      mainBg: {
        background: ""
      }, // 设置背景图片
      isActive: true,
      isTempChangeText: "small", // 默认显示摄氏度
      languageChange: "en"
    };
  },
  mounted: function() {
    this.isIPhoneX("iphoneX-main-weather", "iphoneX-footer-weather"); // iphoneX适配问题
    let getBgImagesUrl = localStorage.getItem("bgImgUrl"); // 存储背景图片链接
    getBgImagesUrl = " ";
    if (getBgImagesUrl) {
      this.mainBg.background = "url(" + getBgImagesUrl + ")"; // 加载背景图片
    }
    // this.ImgWidthHeight(getBgImagesUrl, this.mainBg); //设定背景图片
    this.weatherDetailLoad(); // 加载当前页面信息
  },
  methods: {
    weatherDetailLoad: function() {
      let _this = this;
      let pageId = _this.$route.query.pageId; //获取当前页面的id 值
      let languageSet = localStorage.getItem("languageSet"); // 语言设置
      if (!languageSet) {
        languageSet = "en"; // 语言不存在的时候 默认为为英文
      }
      if (languageSet == "en") {
        this.weatherTitle = "Weather Forcast"; // 天气title
      } else {
        this.weatherTitle = "天气预报"; // 天气title
      }
      this.languageChange = languageSet; // 赋值语言状态
      let tempSateChange = localStorage.getItem("tempSateChange");
      if (!tempSateChange) {
        _this.isActive = true; // 默认显示摄氏度
        tempSateChange = "small"; // 默认存储摄氏度
      } else {
        if (tempSateChange == "small") {
          _this.isActive = true; // 默认显示摄氏度
        } else {
          _this.isActive = false; // 显示华氏度
        }
      }
      getFun1(pageId);
      function getFun1(pageId) {
        _this.axios
          .get(
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/search/?" +
              _this.$root.junAppName +
              "&page_type=info_page&lang_agnostic_id=local_weather",
            {}
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let weaDetailData = sucss.data.data; // 获取数据
              let titleLang = weaDetailData.translates[languageSet].title; //获取标题
              _this.weaDetailAdress = titleLang; // 设置地址
              let weatherData = weaDetailData.weather_data; //天气获取信息
              let todayD = weatherData.today; // 获取当天的信息
              let futureSeven = weatherData.future; // 未来七天的天气信息
              _this.todayWeeK = _this.changeLanguageWeek(todayD.week); // 今天周几
              if (_this.languageChange == "en") {
                _this.todayDate = todayD.days // 今天的日期
                  .split("-")
                  .reverse()
                  .join("/");
              } else {
                _this.todayDate = todayD.days.split("-").join("/");
              }
              let todayImgId = todayD.weatid;
              let imgUrlWea = require("../../../../src/assets/images/weatherIcon/" +
                todayImgId +
                ".png"); // 今天天气图片链接地址
              _this.weathImg = imgUrlWea; // 设定今天的显示图片
              _this.curTemp = _this.changeDegLoad(
                todayD.temp_curr,
                tempSateChange
              ); // 现在的温度
              _this.todayLow = _this.changeDegLoad(
                todayD.temp_low,
                tempSateChange
              ); // 今天最低温度
              _this.todayHigh = _this.changeDegLoad(
                todayD.temp_high,
                tempSateChange
              ); // 今天最高温度
              let arrSeven = []; // 初始化数据
              for (let i = 0; i < futureSeven.length; i++) {
                let listWeekN = futureSeven[i].week; // 周几
                let listWeek = _this.changeLanguageWeek(listWeekN); // 中英文转换
                let listImgId = futureSeven[i].weatid; // 图片id
                let listImgUrl = require("../../../../src/assets/images/weatherIcon/" +
                  listImgId +
                  ".png"); // 天气图片链接地址
                let listTempHigh = futureSeven[i].temp_high; // 最低温度
                let listTempLow = futureSeven[i].temp_low; // 最高温度
                let listJson = {
                  date: listWeek, // 周几
                  img: listImgUrl, // 天气图片地址
                  tempLow: _this.changeDegLoad(listTempLow, tempSateChange), // 最低温度
                  tempHigh: _this.changeDegLoad(listTempHigh, tempSateChange) // 最高温度
                };
                arrSeven.push(listJson); // 未来七天天气的信息
              }
              _this.weathers = arrSeven; // 未来七天天气信息渲染到页面上
            }
          });
      }
    },
    showA: function() {
      // 主页面与侧边栏左右滑动
      if (this.mainC.width == "7.5rem") {
        this.mainC.width = "2.3rem"; // 主屏幕宽度
        $(".index-slider").fadeIn(1000); // 侧边栏显示
        $(".slider-common").css("display", "block"); // 显示侧边栏弹框
      } else {
        this.mainC.width = "7.5rem"; // 主屏幕宽度
        $(".index-slider").fadeOut(1000); // 侧边栏隐藏
        $(".slider-common").css("display", "none"); // 隐藏侧边栏弹框
      }
    },
    changeTemp: function() {
      let _this = this;
      if (
        $(".btn-li")
          .eq(0)
          .hasClass("btn-active")
      ) {
        $(".btn-li")
          .eq(0)
          .removeClass("btn-active");
        $(".btn-li")
          .eq(1)
          .addClass("btn-active");
        this.isActive = true;
        this.isTempChangeText = "small";
        this.changeTempType("small");
        // 华氏度转换成摄氏度  按钮显示摄氏度选中状态
      } else {
        $(".btn-li")
          .eq(1)
          .removeClass("btn-active");
        $(".btn-li")
          .eq(0)
          .addClass("btn-active");
        this.isActive = false;
        this.isTempChangeText = "large";
        this.changeTempType("large");
        // 摄氏度转换成华氏度 按钮显示华氏度选中状态
      }
    },
    changeTempType: function(type) {
      this.curTemp = this.changeDeg(this.curTemp, type);
      this.todayLow = this.changeDeg(this.todayLow, type); // 当前温度
      this.todayHigh = this.changeDeg(this.todayHigh, type); // 当前温度
      let len = this.weathers.length; // 天气列表
      for (let i = 0; i < len; i++) {
        let tempNumLow = this.weathers[i].tempLow; // 最低温度
        let tempNumHigh = this.weathers[i].tempHigh; // 最低温度
        tempNumLow = this.changeDeg(tempNumLow, type); //摄氏度与华氏度的切换
        tempNumHigh = this.changeDeg(tempNumHigh, type); //摄氏度与华氏度的切换
        this.weathers[i].tempLow = tempNumLow; // 最低温度赋值
        this.weathers[i].tempHigh = tempNumHigh; // 最高温度赋值
      }
    },
    changeDeg: function(str, type) {
      //摄氏度与华氏度的切换  // 华氏度＝32＋摄氏度×1.8
      let num = parseFloat(str); // 字符串转换成数组
      let temp = "";
      if (type == "small") {
        temp = (num - 32) / 1.8; // 华氏度转换成摄氏度
        temp = parseInt(temp); // 摄氏度取整
      } else if (type == "large") {
        temp = 32 + num * 1.8; // 摄氏度转换成华氏度
        temp = temp.toFixed(1); // 华氏度保留一位效数
      }
      return temp;
    },
    changeDegLoad: function(str, type) {
      //摄氏度与华氏度的切换  // 华氏度＝32＋摄氏度×1.8
      let num = parseFloat(str); // 字符串转换成数组
      let temp = "";
      if (type == "large") {
        temp = 32 + num * 1.8; // 摄氏度转换成华氏度
        temp = temp.toFixed(1); // 华氏度保留一位效数
      } else {
        temp = parseInt(num);
      }
      return temp;
    },
    changeLanguageWeek: function(weekDay) {
      let nowWeekDay = weekDay;
      if (this.languageChange == "en") {
        if (weekDay == "星期一") {
          nowWeekDay = "Mon.";
        } else if (weekDay == "星期二") {
          nowWeekDay = "Tues.";
        } else if (weekDay == "星期三") {
          nowWeekDay = "Wed.";
        } else if (weekDay == "星期四") {
          nowWeekDay = "Thus.";
        } else if (weekDay == "星期五") {
          nowWeekDay = "Fri.";
        } else if (weekDay == "星期六") {
          nowWeekDay = "Sat.";
        } else if (weekDay == "星期日") {
          nowWeekDay = "Sun";
        }
      }
      return nowWeekDay;
    }
  },
  destroyed: function() {
    localStorage.setItem("tempSateChange", this.isTempChangeText); // 温度值状态改变的设定
  }
};
</script>

<style src="../css/weatherDetail.scss" lang="scss" scoped>
</style>
