<template>
 <div class="cartEmpty" >
  <div class="iphoneX-main" id="iphoneX-main-cartEmpty">
    <div class="header-tt">
      <ul class="header-ul">
        <li class="header-li-left">
          <router-link to="/index">
            <i class="iconfont icon-back1"></i>
          </router-link>
        </li>
        <li class="header-li-middle">
          {{productDetailTt}}
        </li>
      </ul>
    </div>
    <div class="cart-main">
      <div class="cart-warn">
        <h3 class="cart-warn-tt">{{cartEmptTt}}</h3>
        <div class="cart-img">
          <img class="cart-images" v-lazy="cartImg" :key="cartImg"  />
        </div>
        <button type="button" class="cart-btn"><router-link to="/index"> {{btnTt}} </router-link></button>
      </div>
    </div>
  </div>
</div>  
</template>

<script>
  import cartImges from "../images/pic.png";
  export default {
    name: "cartEmpty",
    data() {
      return {
        productDetailTt: "Shopping Cart",
        cartImg: cartImges,
        cartEmptTt: "Your cart is empty",
        btnTt: "OK"
      };
    },
    mounted: function() {
      this.isIPhoneX("iphoneX-main-cartEmpty","");   // iphoneX适配问题
      this.cartEmptyLoad();
    },
    methods: {
      cartEmptyLoad: function() {
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        if (!languageSet) {
          languageSet = "en"; // 语言不存在的时候 默认为为英文
        }
        if (languageSet == "en") {
          this.productDetailTt = "Shopping Cart"; // 购物车
          this.cartEmptTt = "Your cart is empty";
          this.btnTt = "OK";
        } else {
          this.cartEmptTt = "您的购物车为空";
          this.btnTt = "确认";
          this.productDetailTt = "购物车"; // 购物车
        }
      }
    }
  };
</script>

<style src="../css/cartEmpty.scss" lang="scss" scoped>

</style>

