<template>
  <div class="cartShopping">
    <div class="iphoneX-main"
         id="iphoneX-main-cartShop">
      <div class="header-tt">
        <ul class="header-ul">
          <li class="header-li-left"
              @click.stop="cartJumpBack">
            <i class="iconfont icon-back1"></i>
          </li>
          <li class="header-li-middle">
            {{cartShopping}}
          </li>
        </ul>
      </div>
      <div class="cartShopping-main">
        <div class="cartShopping-mianly">
          <div class="list">
            <ul class="list-ul">
              <li class="list-li"
                  v-for="(cartOrder,index) in cartOrders"
                  :key="index">
                <div class="list-li-btn"
                     @click="iconStateClick(index,cartOrder.selected)">
                  <i :class=" 'iconfont icon-'+ cartOrder.icon"></i>
                </div>
                <div class="list-li-main">
                  <div class="li-mian-top">
                    <div class="img">
                      <img class="imgSrc"
                           v-lazy="cartOrder.src"
                           :key="cartOrder.src" />
                    </div>
                    <ul class="li-des">
                      <li class="li-des-li">
                        <span class="name">{{cartOrder.name}}</span>
                        <span class="price">{{cartOrder.price}}</span>
                      </li>
                      <li class="li-des-li">
                        <span class="li-p">{{cartOrder.des}}</span>
                      </li>
                      <li class="li-des-li">
                        <div class="name">
                          <span class="iconSub"
                                @click="changeOrder(index,'sub',cartOrder.selected)"><i class="iconfont icon-subtract"></i></span>
                          <span class="iconNum">{{cartOrder.num}}</span>
                          <span class="iconAdd"
                                @click="changeOrder(index,'add',cartOrder.selected)"><i class="iconfont icon-add"></i></span>
                        </div>
                        <div class="price">
                          <span class="iconEdit"
                                @click="showEdit(index)"><i class="iconfont icon-edit"></i></span>
                          <span class="iconDelete"
                                @click="deleteOrder(index,cartOrder.cartId)"><i class="iconfont icon-delete"></i></span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="li-main-note1"
                       v-show="cartOrder.noteState">{{cartOrder.text}}</div>
                  <div class="li-mian-note"
                       v-show="cartOrder.state">
                    <textarea class="li-textarea"
                              :id="'textarea'+index"
                              autofocus="autofocus"
                              :placeholder="cartOrderNote"
                              v-model="cartOrder.text"
                              @blur="noteBlur(index,cartOrder.text)"></textarea>
                  </div>
                </div>
              </li>
            </ul>
            <div class="list-total">
              <span>{{totalPayText}}</span>
              <span class="total-money">{{payTotal}}</span>
            </div>
            <div class="list-des-box">
              <h3 class="list-des-tt">{{wholeRes}}</h3>
              <div class="li-des-text">
                <textarea class="li-des-textarea"
                          :placeholder="wholeResPla"
                          v-model="wholeResText"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cartModel"
           v-show="cartModelShow">
        <div class="cartModel-content">
          <h1 class="cartModel-close">
            <span @click="cartModelClose"><i class="iconfont icon-cancel1"></i></span>
          </h1>
          <ul class="cartModel-ul">
            <li class="cartModel-li"
                v-for="(choiceItem,index) in choiceItems"
                :key="index"
                @click="choiceAdress(index)">{{choiceItem.name}}</li>
          </ul>
        </div>
      </div>
      <div class="cartModel"
           v-show="cartModelShowRoom">
        <div class="cartModel-content cartModelRoomNum">
          <h1 class="cartModel-close">
            <span @click="roomBtnClose"><i class="iconfont icon-cancel1"></i></span>
          </h1>
          <div class="cartModel-input-box">
            <div class="cartModel-input-li">
              <input class="cartModel-input"
                     type="text"
                     :placeholder="roomNumPla"
                     v-model="roomNum" />
            </div>
            <div class="cartModel-input-li">
              <input class="cartModel-input"
                     type="text "
                     :placeholder="roomTelPla"
                     v-model="roomTel" />
            </div>
            <div class="cartModel-input-li">
              <input class="cartModel-input"
                     type="text"
                     :placeholder="roomNamePla"
                     v-model="roomName" />
            </div>
          </div>
          <button class="roomNumBtn"
                  @click="roomNumButton">{{roomNumBtn}}</button>
        </div>
      </div>
    </div>
    <div class="footer-btn-box"
         id="footerBtn">
      <button class="btn"
              @click="jumpNext">{{btnNext}}</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "cartShopping", // 购物车
  data() {
    return {
      cartShopping: "shopping cart",
      payTotal: "￥0", // 总付款
      cartOrderNote: "Any special request for this item", // 单个商品的备注
      totalPayText: "Total Amount :",
      wholeResText: "", // 整体订单
      wholeResPla: "", // 整体订单的备注提示
      moneyIcon: "￥", // 货币符号
      payTotalNum: "0", // 商品价格的总数值
      cartOrders: [], // 所有订单列表
      wholeRes: "Whole order request:", //整体订单的备注
      btnNext: "PayMent", // 下一步
      cartModelShow: false, // 房间和地址的选择框
      cartModelShowRoom: false, // 房间模块的弹出框
      roomName: "", //姓氏
      roomTel: "", // 电话号码
      roomNamePla: "请输入您的姓",
      roomTelPla: "请输入您的电话",
      roomNum: "", //房间号码
      roomNumPla: "请输入房间号",
      roomNumBtn: "确认",
      choiceItems: [
        {
          name: "酒店房间"
        },
        {
          name: "酒店其他位置"
        },
        {
          name: "酒店外的地址"
        }
      ],
      dialogMessageGoods: "", // 请选择商品
      dialogBtn: "Confirm", // 确认
      mobileWrong: "", // 手机号有误
      NameNull: "", //
      roomWrong: ""
    };
  },
  mounted: function() {
    iosAdjust();
    this.isIPhoneX("iphoneX-main-cartShop", ""); // iphoneX适配问题
    this.isIPhoneXbtn("footerBtn");
    localStorage.setItem("adressCreat", "");
    this.cartShoppingLoad(); //加载购物车信息
  },
  methods: {
    cartShoppingLoad: function() {
      let wholeResTextGet = localStorage.getItem("wholeResText"); //整体订单的备注信息
      let allImagesIndex = localStorage.getItem("allImages"); //获取图片列表
      let allImagesObj = JSON.parse(allImagesIndex); // json字符串转换成json
      let languageSet = localStorage.getItem("languageSet"); // 语言设置
      let moneyImg = localStorage.getItem("moneyIcon"); // 获取货币符号
      let phoneNum = localStorage.getItem("phoneNum"); // 获取当前登录的手机号
      if (phoneNum) {
        this.roomTel = phoneNum; // 赋值手机号
      }
      if (wholeResTextGet) {
        this.wholeResText = wholeResTextGet; // 设置整体订单的备注
      }
      if (!moneyImg) {
        moneyImg = "￥"; // 获取符号不存在时，默认为人民币
      }
      this.moneyIcon = moneyImg; // 存储货币
      if (!languageSet) {
        languageSet = "en"; // 语言不存在的时候 默认为为英文
      }
      if (languageSet == "en") {
        this.cartShopping = "shopping cart"; // 购物车
        this.choiceItems = [
          {
            name: "Hotel room"
          },
          {
            name: "Other places in the hotel"
          },
          {
            name: "The address outside the hotel"
          }
        ];
        this.roomNamePla = "Do not enter anonymous";
        this.roomTelPla = "Please enter your phone number";
        this.roomNumPla = "Please enter the room number";
        this.roomNumBtn = "Confirm";
        this.btnNext = "Confirm";
        this.totalPayText = "Total Amount :";
        this.wholeRes = "Whole order request:"; //整体订单的备注
        this.wholeResPla = "Enter any special request here for your order.";
        this.cartOrderNote = "Any special request for this item"; // 单个商品的备注
        this.dialogMessageGoods = "Please choose merchandise!"; // 请选择商品
        this.dialogBtn = "Confirm"; // 确认
        this.mobileWrong = "Mobile number is wrong!"; // 手机号有误
        this.NameNull = "Anonymous"; //匿名
        this.roomWrong = "Room number is wrong!";
      } else {
        this.cartShopping = "购物车";
        this.choiceItems = [
          {
            name: "酒店房间"
          },
          {
            name: "酒店其他位置"
          },
          {
            name: "酒店外的地址"
          }
        ];
        this.roomNamePla = "请输入您的姓(不输入为匿名)";
        this.roomTelPla = "请输入您的电话";
        this.roomNumPla = "请输入房间号";
        this.roomNumBtn = "确认";
        this.btnNext = "确认";
        this.totalPayText = "总付款：";
        this.wholeRes = "整体订单的备注："; //整体订单的备注
        this.cartOrderNote = "对该商品的任何特殊要求"; // 单个商品的备注
        this.dialogMessageGoods = "请选择商品！"; // 请选择商品
        this.dialogBtn = "确认"; // 确认
        this.mobileWrong = "手机号有误"; // 手机号有误
        this.NameNull = "匿名"; //匿名
        this.roomWrong = "房间号不正确！";
      }
      // 获取购物车的列表信息（渲染页面）
      let _this = this;
      let apiUrl = "/api/junctioncore/v1/cart/?";
      _this.axios
        .get(_this.$root.domainName + apiUrl + _this.$root.junAppName, {})
        .then(function(sucss) {
          if (sucss.data.ret == "200") {
            let sucssData = sucss.data.data; // 获取数据
            let merchandisesData = sucssData.merchandises; // 调取商品信息
            let cartData = sucssData.cart; //调取购物车信息
            if (cartData.length > 0) {
              let cartListArr = []; // 总商品数组
              cartData = _this.jsonSort(cartData, "selected"); // 商品排序
              for (let i = 0; i < cartData.length; i++) {
                let cartId = cartData[i].cart_id; // 购物车内商品的id值
                let cartSelected = cartData[i].selected; // 商品是否默认选中
                let cartItemId = cartData[i].lang_agnostic_id; // 购物车内商品的编号
                let cartNote = cartData[i].note; // 购物车对应商品的备注信息
                let cartNum = cartData[i].quantity; // 该商品的数量
                let cartPriceNum = cartData[i].regular_price_in_mill; // 该商品的默认单价（20000）
                let cartPrice = _this.moneyIcon + cartPriceNum / 1000; // 商品价格（$20）
                let cartAddMsg = cartData[i].variants; // 该商品的附加内容
                let cartMessage = getData(merchandisesData, cartItemId); // 获取该商品的信息
                let cartOptions =
                  cartMessage.translates[languageSet].optionTranslations
                    .translations; //商品的选项
                let cartMsgStr = ""; // 附件内容
                if (cartAddMsg.length > 0) {
                  for (let m = 0; m < cartAddMsg.length; m++) {
                    let cartListId = cartAddMsg[m]; // 获取添加的id值
                    let cartListMsgStr = cartOptions[cartListId]; //获取对应id的信息
                    if (m != cartAddMsg.length - 1) {
                      cartListMsgStr = cartListMsgStr + "/";
                    }
                    cartMsgStr += cartListMsgStr; //商品描述
                  }
                }
                let cartTitle = cartMessage.translates[languageSet].title; // 商品的名称
                let cartSrc = ""; // 图片地址
                if (allImagesObj) {
                  let cartImgId = cartMessage.defaultImage.internalImageId; // 调取id值
                  if (cartImgId) {
                    cartSrc = allImagesObj[cartImgId].internal_image_url; // 获取图片地址
                  }
                }
                let cartIcon = "choice"; // 是否显示商品被选中
                if (cartSelected == "0") {
                  cartIcon = "none"; // 如果商品没有被勾选，显示的图标
                }
                let cartNoteState = false; // 是否显示备注信息
                if (cartNote) {
                  cartNoteState = true; // 备注信息存在显示
                }
                // 单个商品的数据
                let cartJson = {
                  cartId: cartId, // 商品在购物车内的编号
                  selected: cartSelected, // 商品是否默认选中
                  name: cartTitle, // 商品名称
                  price: cartPrice, // 商品价格
                  priceNum: cartPriceNum, // 商品价格数目（除以1000以前）
                  num: cartNum, // 商品数量
                  des: cartMsgStr, // 商品描述
                  state: false, // 备注输入框信息
                  noteState: cartNoteState, // 备注编辑框默认隐藏
                  src: cartSrc, // 商品的链接地址
                  icon: cartIcon, // 商品的图标（选中/未选中）
                  text: cartNote // 备注信息
                };
                cartListArr.push(cartJson);
              }
              _this.cartOrders = cartListArr; // 渲染到页面上的信息
              _this.payTotal = _this.payTotalM(); // 总价格
              let addTax = sucssData.value_added_tax_permillage; // 增值税
              let serviceCharge = sucssData.surcharge_permillage; // 服务费
              if (addTax) {
                let addTaxNum = parseFloat(addTax) / 1000;
                localStorage.setItem("addTax", addTaxNum); // 增值税
              }
              if (serviceCharge) {
                let serviceChargeNum = parseFloat(serviceCharge) / 1000;
                localStorage.setItem("serviceCharge", serviceChargeNum); // 服务费
              }
              //获取购物车的商品信息(根据商品序号获取商品信息)
              function getData(objs, id) {
                for (let j = 0; j < objs.length; j++) {
                  let objData = objs[j]; // 商品的所有数据
                  let objId = objData.langAgnosticId; //商品的序列号
                  if (objId == id) {
                    return objData;
                  } else {
                    continue;
                  }
                }
              }
            } else {
              _this.$router.push({
                path: "/cartEmpty"
              }); // 购物车内无商品
            }
          }
        });
      _this.getUserName(); // 获取基本信息
    },
    showEdit: function(index) {
      // 编辑备注信息
      this.cartOrders[index].state = true; // 编辑框
      this.cartOrders[index].noteState = false; // 隐藏备注框
      let _id = "textarea" + index; // 文本框的id值设定
      setTimeout(function() {
        document.getElementById(_id).focus(); // 文本框自动获取焦点
      }, 100);
    },
    changeOrder: function(index, type, selected) {
      // 增加或者减少商品的数量
      if (type == "add") {
        this.cartOrders[index].num = this.cartOrders[index].num + 1; // 订单数量叠加
        this.payTotal = this.payTotalM(); // 获取总付款值
      } else if (type == "sub") {
        let numb = this.cartOrders[index].num; // 获取订单数量
        if (numb == 1) {
          this.cartOrders[index].num = 0; // 订单数量为零时
          this.cartOrders.splice(index, 1); // 删除当前的数据
        } else {
          this.cartOrders[index].num = this.cartOrders[index].num - 1; // 订单数量递减
        }
        this.payTotal = this.payTotalM(); // 获取总付款值
        if (this.cartOrders.length == 0) {
          this.$router.push({
            path: "/cartEmpty"
          });
        }
      }
      let cartListData = this.cartOrders[index];
      this.upDataCart(
        cartListData.num,
        cartListData.text,
        cartListData.selected,
        cartListData.cartId
      ); //更新商品
    },
    iconStateClick: function(index) {
      // 是否选中当前订单
      let cartListData = this.cartOrders[index];
      let stateV = this.cartOrders[index].icon; // 获取订单的状态
      if (stateV == "none") {
        this.cartOrders[index].icon = "choice"; // 选中状态
        this.cartOrders[index].selected = 1; // 选中状态
      } else if (stateV == "choice") {
        this.cartOrders[index].icon = "none"; // 未选中状态
        this.cartOrders[index].selected = 0; // 选中状态
      }
      this.payTotal = this.payTotalM(); // 获取总付款值
      this.upDataCart(
        cartListData.num,
        cartListData.text,
        cartListData.selected,
        cartListData.cartId
      ); //更新商品
    },
    deleteOrder: function(index, cartId) {
      // 删除购车内的列表数据
      let _this = this;
      let apiUrlDelete = "/api/junctioncore/v1/cart/" + cartId + "/?";
      _this.axios
        .delete(
          _this.$root.domainName + apiUrlDelete + _this.$root.junAppName,
          {}
        )
        .then(function(sucss) {
          if (sucss.data.ret == "200") {
            _this.cartOrders.splice(index, 1); // 删除当前的数据
            _this.payTotal = _this.payTotalM(); // 获取总付款值
            if (_this.cartOrders.length == 0) {
              _this.$router.push({
                path: "/cartEmpty"
              }); // 如果购物车内的数据为空
            }
          }
        });
    },
    upDataCart: function(quantity, note, selected, cartId) {
      //更新购物车内的商品信息
      let _this = this;
      let apiUrlUpData = "/api/junctioncore/v1/cart/" + cartId + "/?";
      _this.axios
        .put(_this.$root.domainName + apiUrlUpData + _this.$root.junAppName, {
          quantity: quantity,
          note: note,
          selected: selected
        })
        .then(function(sucss) {
          if (sucss.data.ret == "200") {
          }
        });
    },
    payTotalM: function() {
      // 订单总价
      let _this = this;
      let payAll = 0; // 初始化总付款值
      for (let i = 0; i < _this.cartOrders.length; i++) {
        let pay = 0; // 初始化值
        if (_this.cartOrders[i].icon === "choice") {
          let priceNumber = _this.cartOrders[i].priceNum;
          priceNumber = Number(priceNumber);
          pay = _this.cartOrders[i].num * priceNumber; // 获取值
          payAll = payAll + pay; // 叠加付款值
        }
      }
      payAll = payAll / 1000;
      this.payTotalNum = payAll; // 商品的价格数值
      let payAllNum = this.moneyIcon + payAll; // 总价格
      return payAllNum; // 返回订单的总价格
    },
    noteBlur: function(index, note) {
      // 文本失焦时
      let cartListData = this.cartOrders[index];
      let noteText = cartListData.text; // 备注文本
      cartListData.state = false; // 文本编辑框隐藏
      if (noteText) {
        cartListData.noteState = true; // 显示备注信息
      } else {
        cartListData.noteState = false; // 不显示备注信息
      }
      this.upDataCart(
        cartListData.num,
        cartListData.text,
        cartListData.selected,
        cartListData.cartId
      ); //更新商品
    },
    cartJumpBack: function() {
      // 返回上一级页面
      //this.$router.go(-1);
      this.$router.push({
        path: "/index"
      });
    },
    jumpNext: function() {
      // 点击结算，判断是否有选中的商品
      let arr = []; // 初始化选中的值
      for (let i = 0; i < this.cartOrders.length; i++) {
        let selectedState = this.cartOrders[i].selected; // 选中
        arr.push(selectedState); // 存储选中的状态
      }
      let findTrue = arr.indexOf(1); // 查询是否有选中呃商品
      if (findTrue != "-1") {
        // 有选中的商品
        let userLogin = localStorage.getItem("userLogin"); // 判断是否已经登录
        if (userLogin && userLogin == "true") {
          // 选中的商品存在，并且已经登录，弹出选择地址
          this.cartModelShow = true;
        } else {
          this.$router.push({
            path: "/signIn"
          }); // =跳转到登录页面
          localStorage.setItem("signRouter", "/cartShopping"); // 设定登录成功之后跳转的路径
        }
      } else {
        // 没有选中的商品
        this.$dialog.alert({
          message: this.dialogMessageGoods, // 请选择商品
          confirmButtonText: this.dialogBtn // 确认
        });
      }
    },
    cartModelClose: function() {
      this.cartModelShow = false; // 点击关闭按钮
    },
    choiceAdress: function(index) {
      this.cartModelShow = false; // 点击关闭按钮
      if (index == 0) {
        // 选中的选择房间
        this.cartModelShowRoom = true; // 填写房间号
      } else {
        // 选中的酒店其他位置/其他地址
        this.cartOrdersSet(); // 存储已经选中的订单
        // 查询地址管理里面是否有地址
        this.getAdress(); // 获取地址管理的接口
      }
    },
    getAdress: function() {
      localStorage.setItem("adressCreat", "cartShopping");
      let _this = this;
      _this.axios
        .get(
          "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/customer_address/?" +
            _this.$root.junAppName +
            ""
        )
        .then(
          function(sucss) {
            if (sucss.data.ret == "200") {
              let adressArr = sucss.data.data; // 获取地址信息
              let adressListArr = []; // 初始化地址列表
              if (adressArr.length > 0) {
                adressArr = _this.jsonSort(adressArr, adressArr[0].is_default); // 按照从大到小的顺序排序
                let listF = adressArr[0]; // 地址
                let listId = listF.id; // 地址的标志
                let listAdress = listF.address; // 地址
                let listPhone = listF.recipient_phone; //  手机号
                let listName = listF.recipient_name; // 姓名
                let listIsDefault = listF.is_default; // 是否默认地址
                let adressJsonSet = {
                  expected_delivery_time: 0,
                  note: _this.wholeResText, // 整体订单的备注信息
                  recipient_name: listName, // 暂时储入默认姓氏
                  recipient_phone: listPhone, // 手机号
                  address: listAdress // 地址信息
                };
                localStorage.setItem(
                  "deliveryAdress",
                  JSON.stringify(adressJsonSet)
                ); // 存储快递地址
                _this.$router.push({
                  path: "/order"
                }); // 订单管理的页面
              } else {
                _this.$router.push({
                  path: "/adressCreat"
                }); // 创建地址
              }
            }
          },
          function(err) {
            _this.$router.push({
              path: "/adressCreat"
            }); // 创建地址
          }
        );
    },
    roomNumButton: function() {
      if (this.roomNum && this.roomTel) {
        // 手机号和房间号为必填
        if (!this.roomName) {
          this.roomName = this.NameNull; // 匿名
        }
        let adressJson = {
          expected_delivery_time: 0,
          note: this.wholeResText, // 整体订单的备注信息
          recipient_name: this.roomName, // 暂时储入默认姓氏
          recipient_phone: this.roomTel,
          address: this.roomNum
        };
        localStorage.setItem("deliveryAdress", JSON.stringify(adressJson)); // 存储快递地址
        this.cartModelShowRoom = false; // 关闭弹框
        this.cartOrdersSet(); // 存储已经选中的订单
        this.$router.push({
          path: "/order"
        }); // 订单管理的页面
      } else {
        if (!this.roomTel) {
          this.$toast(this.mobileWrong); // 手机号有误
        } else if (!this.roomNum) {
          this.$toast(this.roomWrong); // 房间号有误
        }
      }
    },
    getUserName: function() {
      var that = this;
      var url = "/api/junctioncore/v1/customer/get_profile/?";
      that.axios
        .get(
          that.$root.domainName +
            url +
            that.$root.junAppQuery +
            that.$root.junAppName
        )
        .then(function(sucss) {
          if (sucss.data.ret == "200") {
            let ueserData = sucss.data.data.customer; // 获取信息
            let firstN = ueserData.first_name; //姓
            let lastN = ueserData.last_name; // 名
            let birth = ueserData.date_of_birth;
            if (
              firstN == "default" &&
              lastN == "default" &&
              birth == "1900-01-01"
            ) {
              // 默认传入的值
              that.roomName = "";
              return;
            } else {
              that.roomName = firstN;
            }
          }
        });
    },
    roomBtnClose: function() {
      this.cartModelShowRoom = false; // 房间号弹框
    },
    cartOrdersSet: function() {
      let cartOrderArr = this.cartOrders; // 订单信息
      let cartArr = []; // 获取购物车信息
      for (let i = 0; i < cartOrderArr.length; i++) {
        let cartList = cartOrderArr[i]; // 选中的状态
        if (cartList.selected == 1) {
          cartArr.push(cartList);
        }
      }
      localStorage.setItem("cartListJosn", JSON.stringify(cartArr)); // 选中的商品列表
    },
    jsonSort: function(arr, key) {
      // 比较字符串下面的json数据排序
      if (key == true) {
        key = 1;
      } else if (key == false) {
        key = 0;
      }
      for (let j = 1, k = arr.length; j < k; j++) {
        let temp = arr[j],
          val = temp[key],
          i = j - 1;
        val = parseFloat(val);
        while (i >= 0 && parseFloat(arr[i][key]) > val) {
          arr[i + 1] = arr[i];
          i = i - 1;
        }
        arr[i + 1] = temp;
      }
      let arr1 = arr.reverse();
      return arr1;
    },
    cartMobile: function() {
      // 电话号码验证
      let _this = this;
      if (
        !/^[1][3,4,5,7,8][0-9]{9}$/.test(this.roomTel) ||
        this.roomTel.length != "11"
      ) {
        // 手机号验证
        this.$toast(_this.mobileWrong); // 手机号有误
        rtturn;
      }
    }
  },
  destroyed: function() {
    localStorage.setItem("wholeResText", this.wholeResText); //整体订单的备注信息
  }
};
</script>

<style src="../css/cartShopping.scss" lang="scss" scoped>
</style>

