<template>
  <div class="confirmOrder">
    <div class="iphoneX-main"
         id="iphoneX-main-order">
      <div class="header-tt">
        <ul class="header-ul">
          <li class="header-li-left"
              @click="orderJumpHref">
            <i class="iconfont icon-back1"></i>
          </li>
          <li class="header-li-middle">
            {{confirmOrder}}
          </li>
        </ul>
      </div>
      <div class="order-main">
        <div class="order-mianly">
          <div class="delivery-adress">
            <div class="del-left">
              <!-- 地址 -->
              <ul class="msg"
                  @click="jumpAdressManage();">
                <li class="msg-li"><i class="iconfont icon-location"></i></li>
                <li class="msg-li name">{{orderName}}</li>
                <li class="msg-li next"
                    @click="jumpAdressManage();">
                  <i class="iconfont icon-next"></i>
                </li>
                <li class="msg-li tel">{{orderTel}}2222</li>
              </ul>
              <div class="adress">
                <p>{{orderAdress}}3333</p>
              </div>
            </div>
            <div class="del-left del-second">
              <!-- 时间 -->
              <ul class="msg">
                <li class="msg-li">{{deliveryTime}}</li>
                <li class="msg-li">{{deliveryWarn}}</li>
                <li class="msg-li next"
                    @click="chiceDayTime();">
                  <i class="iconfont icon-next"></i>
                </li>
                <li class="msg-li time">{{deliveryLater}}</li>
              </ul>
            </div>
          </div>
          <!-- 列表 -->
          <div class="order-list">
            <div class="top">
              <div class="top-img">
                <img class="imgLogo"
                     v-lazy="imgLogo"
                     key="imgLogo" />
              </div>
              <h3 class="img-des">HAVEN HOTEL Shanghai XJH</h3>
            </div>
            <div class="order-list-main"
                 :style="'height:'+listMainHeight">
              <div class="list-box">
                <ul class="list-ul li-first">
                  <li class="list-li li-name">{{itemDetails}}</li>
                  <li class="list-li li-num">{{QTY}}</li>
                  <li class="list-li li-num">{{proPrice}}</li>
                  <li class="list-li li-num">{{proTotal}}</li>
                </ul>
              </div>
              <div class="list-box"
                   v-for="(list,index) in lists"
                   :key="index">
                <ul class="list-ul">
                  <li class="list-li li-name">
                    <span class="list-order">{{list.order}}</span>
                    <span>{{list.name}}</span>
                  </li>
                  <li class="list-li li-num">{{list.number}}</li>
                  <li class="list-li li-num">{{list.price}}</li>
                  <li class="list-li li-num">{{list.total}}</li>
                </ul>
                <div class="note"
                     v-show="list.desShow">{{list.note}}</div>
                <div class="note"
                     v-show="list.noteShow">{{list.text}}</div>
              </div>
              <div class="list-box">
                <div class="total-name">{{totalAmountText}}</div>
                <div class="total-num">{{totalNum}}</div>
              </div>
              <div class="list-box list-box-detail detail-top"
                   v-show="proTotalPayShow">
                <div class="detail-box">
                  <span>{{proTotalPayName}}</span>
                  <span>{{proTotalPayNum}}</span>
                </div>
              </div>
              <div class="list-box list-box-detail"
                   v-show="addTaxShow">
                <div class="detail-box">
                  <span>{{addTaxCharge}}</span>
                  <span>{{addTaxChargeTax}}</span>
                  <span>{{addTaxChargeNum}}</span>
                </div>
              </div>
              <div class="list-box list-box-detail detail-bottom"
                   v-show="serviceTaxShow">
                <div class="detail-box">
                  <span>{{serviceTaxCharge}}</span>
                  <span>{{serviceTaxChargeTax}}</span>
                  <span>{{serviceTaxChargeNum}}</span>
                </div>
              </div>
              <div class="list-box"
                   v-show="wholeResShow">
                <p class="list-box-p">{{wholeResNote}}</p>
              </div>
              <div class="list-box list-box-des">
                <h3 class="des-tt">{{thanks}}</h3>
                <!-- <div class="adress">398 North Caoxi Road, Xuhui District, Shanghai, 2000301122131</div> -->
                <div class="adress">
                  <router-link to="/">http://www.panora.com.cn</router-link>
                </div>
                <div class="adress">
                  <span>{{serviceLine}}</span>
                  <span>+86-21-6402 8888</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="common-model"
           v-show="confirmOrderMoney">
        <div class="confirmOrder-model">
          <ul class="conOrder-ul">
            <li class="order-li">
              <div class="order-li-text order-li-first">
                <span>{{totalAmountText}}</span>
                <span>{{totalNum}}</span>
              </div>
              <div class="order-li-close"
                   @click="confirmPaymentWayClose"> <i class="iconfont icon-cancel1"></i></div>
            </li>
            <li class="order-li"
                v-for="(payWay,index) in payWays"
                :key="index"
                v-show="payWay.stateShow"
                @click="selectedPayWay(index)">
              <div class="order-li-text">
                <div class="text-li-img"><img class="images"
                       v-lazy="payWay.conOrderImg"
                       :key="payWay.conOrderImg" /></div>
                <div class="text-li-des">{{payWay.text}}</div>
              </div>
              <div class="order-li-close">
                <i class="iconfont"
                   v-bind:class="{'icon-selected': payWay.state, 'icon-none': !payWay.state}"></i>
              </div>
            </li>
          </ul>
          <div class="confirm-footer">
            <button class="btn"
                    id="orderBtn"
                    @click="confirmPayment">{{confirmOrder}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-btn-box"
         id="footer-btn">
      <button class="btn"
              @click="confirmOrderModel">{{confirmOrder}}</button>
    </div>
    <div class="common-model"
         v-show="choiceTime">
      <van-popup class="later-time"
                 v-model="choiceTime"
                 position="bottom"
                 :overlay="false">
        <div class="deliver-top">
          <div class="deliver-top-tt">{{deliveryLater}}</div>
          <div class="deliver-close"
               @click.stop="closeNowTime"><i class="iconfont icon-cancel1"></i></div>
        </div>
        <ul class="deliver-pick-time date-day">
          <li class="deliver-day-li"
              v-for="(monDay,index) in monDays"
              :key="index"
              v-bind:class="{'day-active':monDay.state}"
              @click="changeDay(index)">{{monDay.time}}</li>
        </ul>
        <ul class="deliver-pick-time data-hour">
          <li class="deliver-hour"
              v-for="(hourMin, index) in hourMins"
              v-bind:class="{'day-active':hourMin.state}"
              :key="index"
              @click="changeHour(index)">
            <div class="hour-min">{{hourMin.time}}</div>
            <div class="sure"
                 v-show="hourMin.state"><i class="iconfont icon-default"></i></div>
          </li>
        </ul>
        <div class="deliver-time-box"
             @click="confirmDeliver">
          <button class="deliver-time-confirn">{{confirmTime}}</button>
        </div>
      </van-popup>
    </div>
  </div>
</template>

<script>

import img1 from "../images/ways/1.png";
import img2 from "../images/ways/2.png";
import img3 from "../images/ways/3.png";
import img4 from "../images/ways/4.png";
import img5 from "../images/ways/5.png";
import vueLogo from "../../../assets/images/logo.png";

export default {
  name: "order",
  data () {
    return {
      confirmOrder: "Confirm Order",
      imgage: img1,
      adressShow: true, // 是否显示地址
      orderStateF: false,
      orderStateS: true,
      confirmOrderMoney: false,
      conOrderImg: img1,
      orderName: "",
      orderTel: "",
      orderAdress: "",
      imgLogo: "",
      listMainHeight: "",
      totalNum: "", // 总价
      totalPriceNumber: "", // 总价的数值
      lists: [], // 商品列表
      payWays: [{
        text: "Alipay",
        conOrderImg: img1,
        state: true,
        order: "0",
        stateShow: true
      },
      {
        text: "WeChat",
        conOrderImg: img2,
        state: false,
        order: "1",
        stateShow: true
      },
      {
        text: "Cash",
        conOrderImg: img3,
        state: false,
        order: "2",
        stateShow: true
      },
      {
        text: "Credit Card ",
        conOrderImg: img4,
        state: false,
        order: "3",
        stateShow: true
      },
      {
        text: "To Room Folio ",
        conOrderImg: img5,
        state: false,
        order: "4",
        stateShow: false
      }
      ],
      wholeResShow: false, // 整体订单的备注是否显示
      wholeResNote: "", // 整体订单的备注信息
      orderListJson: "", // 下订单处理的数据
      thanks: "Thanks for your ordering !",
      serviceLine: "Service Line:",
      totalAmountText: "总价",
      itemDetails: " Item Detail",
      QTY: "QTY",
      proPrice: "Price",
      proTotal: "Total",
      proTotalPayName: "", // 商品总价
      proTotalPayNum: "", // 商品总额
      proTotalPayNumber: "", // 商品总额数值
      orderListId: "", // 下单时用到的id
      addTaxCharge: "", // 增值税
      addTaxChargeNum: 0, // 增值税值
      addTaxChargeTax: "", // 增值税率
      addTaxChargeNumber: 0, // 增值税数值
      addTaxShow: false,
      serviceTaxCharge: "", // 服务费
      serviceTaxChargeNum: 0, // 服务费值
      serviceTaxChargeTax: "", // 服务费率
      serviceTaxChargeNumber: 0, // 服务费数值
      serviceTaxShow: false, // 服务费
      proTotalPayShow: false, // 总价格
      payUrlWay: "", // 支付方式
      orderStateFlag: false, // 订单是否成功
      moneyIcon: "￥",
      isDisable: false,
      conDisabled: false,
      payDuration: "支付中……",
      deliveryTime: "Deliver Now",
      deliveryWarn: "(Estimited in 30 min)",
      deliveryLater: "Later",
      choiceTime: false,
      langSet: "",
      monDays: [],
      hourMins: [],
      nowToday: "",
      nowTimeHour: "",
      yearIndex: 0,  // 选中的所引值
      hourMinIndex: 0, // 选中的所引值
      scheduleTime: "", //计划时间
      scheduleTimeHour: "", // 计划时间
      expectedDelivery: 0,
      confirmTime: "",
      todayTime: ""
    };
  },
  mounted: function () {
    this.isIPhoneX("iphoneX-main-order", "");   // iphoneX适配问题
    this.isIPhoneXbtn("footer-btn");
    this.confirmOrderLoad();
    this.listMainHeight = 7.5 + 1.5 * this.lists.length + "rem";
    this.orderImgLogo(); // 调取logo 图片
    // window.getAlipayResult = this.getAlipayResult;
  },
  methods: {
    // getAlipayResult (str) {
    //   alert(str);
    //   if (str) {
    //     //返回的结果是支付完成，调用设置订单已完成接口：
    //     this.$router.push({
    //       path: "/orderConfirm"
    //     });
    //   }
    // },
    confirmOrderLoad: function () {
      let languageSet = localStorage.getItem("languageSet"); // 语言设置
      if (!languageSet) {
        languageSet = "en"; // 语言不存在的时候 默认为为英文
      }
      let moneyImg = localStorage.getItem("moneyIcon"); // 获取货币符号
      if (!moneyImg) {
        moneyImg = "￥"; // 获取符号不存在时，默认为人民币
      }
      this.moneyIcon = moneyImg;
      if (languageSet == "en") {
        this.confirmOrder = "Confirm Order";
        this.thanks = "Thanks for your ordering !";
        this.serviceLine = "Service Line:";
        this.totalAmountText = "Total Amount";
        this.itemDetails = " Item Detail";
        this.QTY = "QTY";
        this.proPrice = "Price";
        this.proTotal = "Total";
        // 五种支付方式为
        this.payWays[0].text = "Alipay";
        this.payWays[1].text = "WeChat";
        this.payWays[2].text = "Cash";
        this.payWays[3].text = "Credit Card";
        this.payWays[4].text = "To Room Folio";
        this.addTaxCharge = "Value added tax"; // 增值税
        this.serviceTaxCharge = "Service charge"; // 服务费
        this.proTotalPayName = "Total commodity price:"; // 商品总额
        this.payDuration = "In payment...";
        this.nowToday = "Today";
        this.nowTimeHour = "Deliver now";
        this.deliveryTime = "Deliver now";
        this.deliveryWarn = "(Estimited in 30 min)";
        this.scheduleTime = "Delivery time";
        this.scheduleTimeHour = "(Estimited in 30 min)";
        this.deliveryLater = "Later time";
        this.confirmTime = "Confirm";
      } else {
        this.confirmOrder = "确认订单";
        this.thanks = "感谢您的预定！";
        this.serviceLine = "在线服务：";
        this.totalAmountText = "总价";
        this.itemDetails = "序列号";
        this.QTY = "数量";
        this.proPrice = "单价";
        this.proTotal = "总价";
        // 五种支付方式为
        this.payWays[0].text = "支付宝";
        this.payWays[1].text = "微信";
        this.payWays[2].text = "现金";
        this.payWays[3].text = "信用卡";
        this.payWays[4].text = "挂房账";
        this.addTaxCharge = "增值税"; // 增值税
        this.serviceTaxCharge = "服务费"; // 服务费
        this.proTotalPayName = "商品总价："; // 总价
        this.payDuration = "支付中……";
        this.nowToday = "今天";
        this.nowTimeHour = "立即送出";
        this.deliveryTime = "立即送出";
        this.deliveryWarn = "(约30分钟送达)"
        this.scheduleTime = "送达时间";
        this.scheduleTimeHour = "(约30分钟送达)";
        this.deliveryLater = "选择时间";
        this.confirmTime = "确认";
      }
      this.initTime(); // 初始化时间
      this.initHourMin();
      let deliveryAdress = localStorage.getItem("deliveryAdress"); // 获取快递地址
      let cartOrderLists = localStorage.getItem("cartListJosn"); // 获取已经选中的数据
      let cartOrderListArr = JSON.parse(cartOrderLists); // 准备下单的订单列表
      console.log("cartOrderListArr", cartOrderListArr);
      if (cartOrderListArr) {
        let totalPriceNum = 0; // 总价
        let totalArr = []; // 总数
        let totalPrice = 0;
        for (let i = 0; i < cartOrderListArr.length; i++) {
          let listOrder = i + 1; // 序列号
          let listNote = cartOrderListArr[i].des; // 备注
          let listName = cartOrderListArr[i].name; // 商品名称
          let listNumber = cartOrderListArr[i].num; // 商品数量
          let listPrice = cartOrderListArr[i].price; // 商品单价的数
          let listPriceNum = cartOrderListArr[i].priceNum; // 商品单价的数
          let listPriceTotalNum = parseFloat(listPriceNum) * listNumber; // 一类商品的总价数
          let listPriceTotal = moneyImg + listPriceTotalNum / 1000; // 一类商品的总价
          totalPriceNum += parseFloat(listPriceTotalNum); //所有商品的总价数
          let listText = cartOrderListArr[i].text; // 单个商品的备注
          let listDesShow = true; // 单个订单的描述信息;
          if (!listNote) {
            listDesShow = false; // 单个订单的描述信息
          }
          let listNoteShow = true; // 单个订单的备注信息
          if (!listText) {
            listNoteShow = false; // 单个订单的备注信息
          }
          let jsonList = {
            order: listOrder, // 序列号
            name: listName, // 名称
            number: listNumber, // 数量
            price: listPrice, // 价格
            total: listPriceTotal, // 该类商品的总价二
            note: listNote, // 备注信息
            text: listText,
            desShow: listDesShow,
            noteShow: listNoteShow
          };
          totalArr.push(jsonList); // 选中的商品列表
        }
        this.lists = totalArr; // 选中的商品列表赋值
        this.proTotalPayNumber = totalPriceNum; // 商品的总金额数值
        this.proTotalPayNum = moneyImg + totalPriceNum / 1000; // 商品的总金额
        this.totalPriceNumber = totalPriceNum; // 商品总价赋值
        this.getTotalMoney(); // 获取服务费、增值税、总价

      }
      if (JSON.parse(deliveryAdress)) {
        let deliveryAdressJson = JSON.parse(deliveryAdress); // 获取地址信息
        this.orderName = deliveryAdressJson.recipient_name; // 下单人的名字
        this.orderTel = deliveryAdressJson.recipient_phone; // 订单的电话
        this.orderAdress = deliveryAdressJson.address; // 订单的地址
        this.wholeResNote = deliveryAdressJson.note; // 整体订单的备注信息
        if (this.wholeResNote && this.wholeResNote != "") {
          this.wholeResShow = true; // 整体订单的备注是否显示
        } else {
          this.wholeResShow = false; // 整体订单的备注是否显示
        }
      }
      localStorage.setItem("adressManageBack", "");
      let logoImgURL = localStorage.getItem("logoImgURL"); // 存储logo图片链接
      if (logoImgURL) {
        this.imgLogo = logoImgURL; // logo 设置
      }
    },
    getTotalMoney: function () {
      let _this = this;
      let apiUrl = "/api/junctioncore/v1/cart/?";
      _this.axios
        .get(_this.$root.domainName + apiUrl + _this.$root.junAppName, {})
        .then(function (sucss) {
          if (sucss.data.ret == "200") {
            let sucssData = sucss.data.data; // 获取数据
            console.log("sucssData", sucssData);

            let totalNum = sucssData.selected_price_in_mill / 1000; // 选中商品的总付款数目
            let addTaxNum = sucssData.selected_vat_in_mill / 1000; // 增值税
            let serviceChargeNum = sucssData.selected_surcharge_in_mill / 1000; // 服务费
            let add_tax = sucssData.value_added_tax_permillage; // 增值税税率
            let service_tax = sucssData.surcharge_permillage; // 服务费税率
            if (serviceChargeNum && serviceChargeNum != 0) {
              _this.serviceTaxShow = true; // 显示服务费
              _this.serviceTaxChargeNum = _this.moneyIcon + serviceChargeNum; // 服务费
              if (service_tax) {
                service_tax = service_tax / 10 + "%";
                _this.serviceTaxCharge = _this.serviceTaxCharge + "(" + service_tax + ")" + ":"; // 服务费费率
              }
            } else {
              _this.serviceTaxShow = false; // 服务费不存在，不显示
              _this.serviceTaxChargeNum = 0; // 服务费的值为零
            }
            if (addTaxNum && addTaxNum != 0) {
              _this.addTaxChargeNum = _this.moneyIcon + addTaxNum; // eg:"$"+200
              _this.addTaxShow = true; // 附加费显示
              if (add_tax) {
                add_tax = add_tax / 10 + "%";
                _this.addTaxCharge = _this.addTaxCharge + "(" + add_tax + ")" + ":"; // 增值税税率
              }
            } else {
              _this.addTaxShow = false; // 附加费不显示
              _this.addTaxChargeNum = 0; // 附加费为零
            }
            if (!addTaxNum && !serviceChargeNum) {
              _this.proTotalPayShow = false; // 总计金额是否显示
            } else {
              _this.proTotalPayShow = true; // 总计金额是否显示
            }
            _this.totalNum = _this.moneyIcon + totalNum; // 所有商品的总价
            if (totalNum) {
              _this.totalPriceNumber = sucssData.selected_price_in_mill; // 商品总价赋值
            }
          }
        });
    },
    confirmOrderModel: function () {
      this.confirmOrderMoney = true; // 付款（开启支付方式）
    },
    confirmPayment: function () {
      let _this = this;
      // 商品开始下单
      
    
      _this.axios
        .post(
          "" +
          _this.$root.domainName +
          "/api/junctioncore/v1/cart/place_order/?" +
          _this.$root.junAppName +
          "", {
            expected_delivery_time: _this.expectedDelivery, //需求时间，传微秒级时间戳，0代表立刻要
            note: _this.wholeResNote, //
            recipient_name: _this.orderName, //收件人姓名
            recipient_phone: _this.orderTel, //收件人电话
            address: _this.orderAdress //收件人地址。注：收件人信息的3个字段，要么都设置，要
          }
        )
        .then(function (sucss) {
          if (sucss.data.ret == "200") {
            console.log("document.cookieOrder1", document.cookie);
            _this.orderListId = sucss.data.data.order_id; // 订单的值
            _this.orderStateFlag = false; // 下单已经成功，清空列表
            if (_this.orderListId) {
              _this.confirmPaymentWay(); // 下单成功，获取支付信息
            } else {
              _this.$toast.fail({
                mask: true,  // 显示背景蒙层
                forbidClick: true, // 禁止背景图点击
                duration: 1000,
                message: "订单号异常" // 支付中
              });
            }
          }
        }, function (err) {
          console.log("重新下单：",err)
          if(_this.orderListId){
              _this.confirmPaymentWay(); //重新获取支付信息
          }else{
              _this.$toast.fail({
            mask: true,  // 显示背景蒙层
            forbidClick: true, // 禁止背景图点击
            duration: 1000,
            message: "请勿重复下单" // 支付中
          });
          setTimeout(function () {
            _this.$router.push({
              path: "/index"
            });
          }, 1000);
            
          }
        
        });
    },
    confirmPaymentWay: function () {
      for (let i = 0; i < this.payWays.length; i++) {
        let stateS = this.payWays[i].state; // 哪个付款方式处于选中状态
        let urlPath = "pay_ali_app"; // 默认是现金支付
        if (stateS == true) {
          if (i > 2 || i == 2) {
              // this.$toast.loading({
              //   mask: true,  // 显示背景蒙层
              //   forbidClick: true, // 禁止背景图点击
              //   duration: 500,
              //   message: this.payDuration // 支付中
              // });
            if (i == 2) {
              urlPath = "pay_cash"; // 现金
            } else if (i == 3) {
              urlPath = "pay_credit_card"; // 信用卡
            } else if (i == 4) {
              urlPath = "pay_room_folio"; // 挂房账
            }
            let urlPathWay = urlPath + "=" + this.totalPriceNumber; // 付款时传入的参数
            let jsonUrl = {
              way: urlPathWay, // 付款方式
              order: i + 1, // 第几个
              id: this.orderListId, // 付款订单号
              totalPay: this.totalNum // 总付款数
            };
            localStorage.setItem("urlPath", JSON.stringify(jsonUrl)); // 订单编号
            this.$router.push({
              path: "/orderConfirm"
            });
          } else {
             this.$toast.loading({
                mask: true,  // 显示背景蒙层
                forbidClick: true, // 禁止背景图点击
                duration: 0,//APP调起后排他操作。
                message: this.payDuration // 支付中
              });
            //调取微信/支付宝接口，不进入确认页面，直接调用APP接口
            if (i == 0) {
              //支付宝支付          
              let urlPathWay = "pay_ali_app=" + this.totalPriceNumber; // 付款时传入的参数
              let jsonUrl = {
                way: urlPathWay, // 付款方式
                order: i + 1, // 第几个图片
                id: this.orderListId, // 付款订单号
                totalPay: this.totalNum // 总付款数
              };
              localStorage.setItem("urlPath", JSON.stringify(jsonUrl)); // 订单编号
              this.pay_by_app("ALI_APP");
            } else if (i == 1) {
              //微信支付
              let urlPathWay = "pay_wechat_app=" + this.totalPriceNumber; // 付款时传入的参数
              let jsonUrl = {
                way: urlPathWay, // 付款方式
                order: i + 1, // 第几个图片
                id: this.orderListId, // 付款订单号
                totalPay: this.totalNum // 总付款数
              };
              localStorage.setItem("urlPath", JSON.stringify(jsonUrl)); // 订单编号
              this.pay_by_app("WECHAT_APP");
            }


          }
        }
      }

    },
    pay_by_app: function (PAYTYPE) {
      console.log(PAYTYPE);
      let _this = this;
      _this.axios
        .post(
          _this.$root.domainName +
          "/api/junctioncore/v1/customer_order/" + _this.orderListId + "/pay/?" +
          _this.$root.junAppName + "&pay_method=" + PAYTYPE, {}
        )
        .then(function (sucss) {
          if (sucss.data.ret == "200") {
            console.log("document.cookie", document.cookie);           
            let orderInfo = sucss.data.data.qr_code;
            console.log("orderInfo:",orderInfo);
         
               if(PAYTYPE === "ALI_APP"){
                    _this.aliPay(orderInfo);  
                }else if(PAYTYPE === "WECHAT_APP"){
                    _this.wechatPay(orderInfo);
                }
              
        
          }
        },function (err) {
          console.log(err)
          _this.$toast.fail({
            mask: true,  // 显示背景蒙层
            forbidClick: true, // 禁止背景图点击
            duration: 2000,
            message: "支付方式无效" // 支付中
          });
          setTimeout(function () {
            _this.$router.push({
              path: "/orderListQuery"
            });
          }, 2000)
        });
    },
    confirmPaymentWayClose: function () {
      this.confirmOrderMoney = false; // 关闭支付方式

    },
    selectedPayWay: function (index) {
      for (let i = 0; i < this.payWays.length; i++) {
        this.payWays[i].state = false; // 其他选中的项目
      }
      this.payWays[index].state = true; // 当前点击的付款方式确认
    },
    orderJumpHref: function () {
      // 返回上一级页面
      // this.$router.go(-1);
      this.$router.push({
        path: "/cartShopping"
      });
    },
    jumpAdressManage: function () {
      // 跳转到地址管理
      localStorage.setItem("adressManageBack", "order");
      this.$router.push({
        path: "/adressManage"
      });
    },
    //选择年月日
    changeDay: function (index) {
      if (index == 0) {
        console.log("asasasasa");
        this.initHourMin();
        this.hourMinIndex = index;  // 选中的所引值
      } else {
        this.initHourAll();
      }
      for (let i = 0; i < this.monDays.length; i++) {
        this.monDays[i].state = false;
      }
      this.monDays[index].state = true;
      this.yearIndex = index;  // 选中的所引值
    },
    // 选择小时
    changeHour: function (index) {
      for (let i = 0; i < this.hourMins.length; i++) {
        this.hourMins[i].state = false;
      }
      this.hourMins[index].state = true;
      this.hourMinIndex = index;  // 选中的所引值
    },
    chiceDayTime: function () {
      this.choiceTime = true;  // 打开时间选择
    },
    confirmDeliver: function () {
      this.choiceTime = false;  // 关闭时间时间选择 
      if (this.yearIndex == 0 && this.hourMinIndex == 0) {
        this.deliveryTime = this.nowTimeHour; // 立即送出
        this.deliveryWarn = this.scheduleTimeHour;
        this.expectedDelivery = 0;
      } else {
        let year = this.monDays[this.yearIndex].time;
        let hour = this.hourMins[this.hourMinIndex].time
        this.deliveryWarn = year + " " + hour;
        this.deliveryTime = this.scheduleTime; // 送达时间
        if (this.yearIndex == 0 && this.hourMinIndex != 0) {
          year = this.todayTime;
        }
        let timeY = year + " " + hour + ":" + "00";
        var timestamp2 = Date.parse(new Date(timeY));
        this.expectedDelivery = parseInt(timestamp2) * 1000;
        console.log("this.expectedDelivery", this.expectedDelivery);
      }
    },
    closeNowTime: function () {
      this.choiceTime = false;  // 关闭时间时间选择
    },
    initTime: function () {
      let arr = this.getMonth(); // 获取日期
      let arrYear = arr[0];  // 获取日期
      let arrHour = arr[1]; // 获取当前时间
      let arr2 = [];
      for (let i = 0; i < arrYear.length; i++) {
        let json = {
          time: arrYear[i],
          state: false
        }
        arr2.push(json);
      }
      this.monDays = arr2;  // 给时间复制
      this.monDays[0].state = true;  // 默认第一个选中
      this.todayTime = arr2[0].time;  // 赋值今天的日期
      this.monDays[0].time = this.nowToday;;
    },
    //从现在起的时间到
    initHourMin: function () {
      let arr = this.getMonth(); // 获取日期
      let arrHour = arr[1]; // 获取当前时间
      let arrHourMin = this.$store.state.hourMin;
      let nowArrHour = [
        {
          time: this.nowTimeHour,
          state: true
        }
      ];
      if (arrHourMin.indexOf(arrHour)) {
        console.log("arrHour", arrHour);
        let _index = arrHourMin.indexOf(arrHour);

        let nowHourMin = arrHourMin.slice(_index, 96);
        console.log(nowHourMin, _index)
        for (let i = 0; i < nowHourMin.length; i++) {
          let json = {
            time: nowHourMin[i],
            state: false
          }
          nowArrHour.push(json);
        }
        let json1 = {
          time: "23:59",
          state: false
        }
        nowArrHour.push(json1);
      }

      this.hourMins = nowArrHour;
    },
    // 全天时间
    initHourAll: function () {
      let arr = this.$store.state.hourMin;
      let arr2 = [];
      for (let i = 0; i < arr.length; i++) {
        let json = {
          time: arr[i],
          state: false
        }
        arr2.push(json);
      }
      arr2[0].state = true;
      this.hourMins = arr2;
    },
    orderImgLogo: function () {
      // 获取logo的链接地址
      let _this = this;
      _this.axios
        .get(
          // 时间获取接口
          "" +
          _this.$root.domainName +
          "/api/junctioncore/v1/page/butler_startpage/?" +
          _this.$root.junAppName +
          "",
          {}
        )
        .then(function (sucss) {
          if (sucss.data.ret == "200") {
            let DataIndexLogo = sucss.data.data; // 获取数据
            let logoImgId = DataIndexLogo.startup.logo.internalImageId; // 获取logo图片的索引值
            let allImagesIndex = localStorage.getItem("allImages"); //获取图片列表
            let allImagesObj = JSON.parse(allImagesIndex); // json字符串转换成json
            if (allImagesObj && logoImgId) {
              let logoImgIdNum = parseInt(logoImgId);
              _this.imgLogo = allImagesObj[logoImgIdNum].internal_image_url; // 赋值图片列表页
            }
          }
        }, function (err) {
          localStorage.setItem("logoImgURL", null); // 存储logo图片链接
        });
    }
  },
  destroyed: function () {
    //localStorage.setItem("getNowTime",null); // 设定当前时间
  }
};
</script>

<style src="../css/order.scss" lang="scss" scoped>
</style>

