.index {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #F4F4F4;
    // index-main start
    min-height: 667px;
    background: rgba(17, 52, 44, 0.6);

    .index-main {
        width: 7.5rem;
        height: 100%;
        transition: width 0.5s;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1000;
        overflow: hidden;
        box-shadow: 0.06rem 0.03rem 0.1rem 0 rgba(12, 34, 29, 0.50);
    }

    .index-main-box {
        float: left;
        width: 7.5rem;
        height: 100%;

    }

    .index-main-opacity {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        width: 7.5rem;
        height: 100%;
        background: rgba(22, 62, 53, 0.80);
        background: linear-gradient(rgba(10, 35, 99, 0.9) 0%, rgba(0, 64, 152, 0.3) 100%);
    }

    .logoImg {
        margin: 0.05rem auto;
        width: auto;
        height: 0.7rem;
    }

    .index-carousel {
        float: left;
        width: 7.5rem;
        height: 2.88rem;
        overflow: hidden;

        .banner-list {
            width: 7.5rem;
            height: 2.88rem;
            position: relative;
            overflow: hidden;

            .j-img {
                height: 2.88rem;
            }
        }

    }

    .index-list {
        float: left;
        margin-top: 0.05rem;
        width: 100%;
        height: 2.68rem;
        background: rgba(10, 35, 99, 0.9);
    }

    .index-list-ul {
        width: 100%;
        height: 100%;
    }

    .index-list-li {
        float: left;
        width: 2.3rem;
        height: 100%;
        margin-left: 0.15rem;
    }

    .list-li-outborder {
        margin: auto;
        width: 1.56rem;
        height: 1.56rem;
        border: 0.02rem solid rgba(244, 244, 244, 0.7);
        margin-top: 0.28rem;
        position: relative
    }

    .list-li-inborder {
        position: absolute;
        width: 1.34rem;
        height: 1.34rem;
        left: 50%;
        top: 50%;
        margin-left: -0.69rem;
        margin-top: -0.69rem;
        border: 0.02rem solid rgba(244, 244, 244, 0.7);
        line-height: 1.34rem;
        text-align: center;

        img {
            margin: 0.22rem 0;
            height: 0.9rem;
            width: 0.9rem;
            overflow: hidden;
        }
    }

    .list-li-inborder .iconfont {
        color: #f4f4f4;
        font-size: 1rem;
    }

    .list-li-tt {
        margin: auto;
        width: 100%;
        margin-top: 0.05rem;
        height: 0.7rem;
        line-height: 0.35rem;
        font-size: 0.24rem;
        color: #F4F4F4;
        font-weight: lighter;
        letter-spacing: -0.005rem;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .index-list-li .list-li-tt {
        line-height: 0.5rem;
    }

    //index-moves
    .index-moves {
        float: left;
        margin-top: 0.05rem;
        width: 100%;
        height: 2.88rem;
        background: rgba(10, 35, 99, 1);
    }

    .moveLeft {
        float: left;
        width: 35rem;
        height: 2.88rem;
        overflow-x: auto;
    }

    .move-ul {
        float: left;
        width: 35rem;
        position: absolute;
        height: 2.88rem;
        overflow-x: auto;
    }

    .index-moves .move-li {
        float: left;
        width: 2.5rem;
        height: 2.88rem;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .index-moves .move-li-box {
        margin: auto;
        width: 2.26rem;
        height: 1.84rem;
        margin-top: 0.25rem;
        line-height: 0.4rem;
    }

    .index-moves .move-li-box .moveListImg {
        margin: 0.12rem 0.01rem;
        width: 2rem;
        height: 1.5rem;
    }

    //
    .index-weather-adress {
        top: 9.81rem;
        bottom: 0.9rem;
        position: absolute;
        width: 100%;
        color: #4f4f4f;
        font-weight: lighter;
        margin-top: 0.05rem;
        background: rgba(10, 35, 99, 1);
    }

    .index-weather-adress .adress {
        float: left;
        width: 7.2rem;
        height: 0.6rem;
        font-size: 0.28rem;
        color: #F4F4F4;
        letter-spacing: 0.001rem;
        text-align: left;
        padding-left: 0.3rem;
        line-height: 0.6rem;
    }

    .index-weather-adress .weather {
        width: 7.5rem;
        height: 2.2rem;
        color: #f4f4f4;
        top: 50%;
        position: absolute;
        margin-top: -1rem;
    }

    .weather-icon .iconfont {
        float: left;
        font-size: 2.5rem;
        line-height: 80%;
    }

    .weather-img {
        height: 100%;
        width: auto;
        margin: 0 0.2rem 0 0;
    }

    .weather-icon,
    .weather-num {
        float: left;
        width: 50%;
        height: 100%;
    }

    .weather-icon {
        text-align: right;
        color: #D2AC2B;
    }

    .weather-num {
        text-align: left;
    }

    .weather-temp {
        font-size: 0.96rem;
        color: #F4F4F4;
        letter-spacing: 0;
        margin-top: 0rem;
        float: left;
        width: 100%;
        height: 1.2rem;
        line-height: 1.2rem;
    }

    .weather-time {
        font-size: 0.28rem;
        color: #F4F4F4;
        line-height: 0.6rem;
        float: left;
        width: 100%;
        height: 1.8rem;

        .timeWeek {
            padding: 0 0.1rem;
        }
    }

    .weather-sup {
        font-size: 0.3rem;
        vertical-align: super;
    }

    .banner-ul {
        float: left;
        width: 7.5rem;
        height: 2.88rem;
    }

    .banner-li {
        float: left;
        width: 100%;
        height: 100%;
    }

    .banner-li img {
        width: 100%;
    }

    .banner-footer {
        bottom: 0rem;
        position: absolute;
        width: 100%;
        height: 0.80rem;
        margin-top: 0.05rem;
        background: rgba(255, 255, 255, 0.9);
        color: rgba(172, 175, 174, 0.8);
        line-height: 0.5rem;
        font-size: 0.24rem;
        padding-top: 0.05rem;
    }

    /*cartIcon*/
    .van-tabbar--fixed {
        position: static;
        background: rgba(0, 0, 0, 0);
    }

}


.ivu-carousel-dots>li>button,
.ivu-carousel-dots-inside li button {
    background: transparent;
}



.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0;
}