<template>
<div class="signIn">
  <div class="index-main-opacity">
    <div class="iphoneX-main" id="iphoneX-main-signIn">
      <div class="register-prompt">
        <van-popup v-model="isShowSign" class="register-prompt-alert" position="top" :overlay="false">{{propmtTitleSign}}</van-popup>
      </div>
      <div class="register-header">
        <ul class="register-nav">
          <li class="register-left" @click="jumpBack">
            <i class="register-icon iconfont icon-cancel1"></i>
          </li>
          <li class="register-mid"></li>
        </ul>
      </div>
      <div class="signIn-instruction">
        <h1 class="signIn-tt">{{instructionTtSign}}</h1>
        <p class="signIn-p">{{instructionSign}}</p>
      </div>
      <div class="register-inputs signIn-inputs">
        <ul class="input-ul">
          <li class="input-li">
            <span><input type="text" class="input-text input-country" :placeholder="countryCode" @focus="getChoiceCode" @blur="comChoiceCode" @input="filterCode"  v-model="counCodeNumReg" /></span>
            <span><input  type="number" class="input-text input-mobile" v-model="mobileNumSign"  :placeholder="MobileNumber" v-on:input="onChangeInput" @blur="phoneNumReg" /></span>
          </li>
          <li class="input-li">
            <input class="input-text" :type="eyePwSign?'text':'password'" :placeholder="PasswordPlac" v-model="pwValSign" v-on:input="onChangeInput" @blur="pwCheckSign" />
            <div class="input-icon" @click="eyePwSign =!eyePwSign">
              <i class="iconfont" v-bind:class="{'icon-viewOpen': eyePwSign, 'icon-viewClose': !eyePwSign}"></i>
            </div>
          </li>
          <li class="input-li signIn-li" @click="findPwF">
            <router-link class="signIn-reg" to="/register">{{rightSign}}</router-link>
            <router-link class="signIn-reset" to="/findPW">{{forgetPw}}</router-link>
          </li>
          <transition name="fade">
              <ul class="country-code" v-show="codeShow">
                <li class="code-li" v-for="(langOption,index) in langOptions" :key="index" @click="choiceCode(index)">{{langOption.text}}</li>
            </ul>
          </transition>
        </ul>
      </div>
      <div class="register-btn-box" @click="signInjump">
        <button class="register-button" type="warning" :style="btnSign"><router-link to="">{{btnTextSign}}</router-link></button>
      </div>
    </div>
  </div>
</div>
</template>

<script>
  export default {
    name: "signIn",
    data() {
      return {
        rightSign: "Sign up",
        propmtTitleSign: "error", // 弹框提示
        isShowSign: false, // 是否显示
        instructionTtSign: "Welcome to Butler,",
        instructionSign: "Please sign in to continue.", //
        forgetPw: "", // 忘记密码
        mobileNumSign: "", // 电话号码
        pwValSign: "", //密码确认
        eyePwSign: false, // 密码显示的状态
        btnTextSign: "Sign in", // 登录按钮
        btnSign: {
          background: "rgba(202,202,202,0.90)"
        },
        languageChange: "", // 语言设置
        UsernamePwWrong: "", // 用户名/密码有误
        pwWarnSet: "", // 密码组合
        inforWrongSet: "", // 信息确认
        registerNumSet: "", // 手机号未注册
        pwWrongSet: "", // 密码有误
        MobileNumber: "Mobile number", // 手机号
        PasswordPlac: "password", // 密码
        counCodeNumReg: "86", // 国家代码
        countryCode: "", //
        counCodeWrong: "", // 国家代码有误
        isTrueCodeNum: false, // 国家代码的正误
        verState:false,
        initOptions:[], // 初始化国家代码
        langOptions:[], // 显示国家代码
        filterOptions:[], // 筛选选项
        codeShow:false,// 不显示国家代码下拉框
        phoneWrongSet:""
      };
    },
    mounted: function() {
      this.isIPhoneX("iphoneX-main-signIn","");   // iphoneX适配问题
      this.propmtTitleSign = "";
      this.signInLoad();
    },
    methods: {
      signInLoad: function() {
        let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }
        this.languageChange = languageSet; // 语言赋值
        if (languageSet == "en") {
          this.rightSign = "Sign up"; // 注册
          this.btnTextSign = "Sign in"; //  登录按钮
          this.UsernamePwWrong = "Your Username is wrong!";
          this.pwWarnSet = "Please enter 6~20 digit or alphabet.";
          this.inforWrongSet = "The information is incorrect, please check!"; // 信息有误，请检查
          this.registerNumSet =
            "The phone number is not registered, please register first!";
          this.pwWrongSet = "The password is wrong, please reenter it!";
          this.forgetPw = "Forgot Password?";
          this.instructionTtSign = "Welcome to Butler,";
          this.instructionSign = "Please sign in to continue."; //
          this.MobileNumber = "Mobile number"; // 手机号
          this.PasswordPlac = "password"; // 密码
          this.countryCode = "country code"; // 国家代码
          this.counCodeWrong = "Please enter the number of 2-3 country code!"; // 国家代码有误
          this.phoneWrongSet = "The phone number is wrong!";
          this.initOptions = this.$store.state.optionsEn;  // 获取国家代码的英文
        } else {
          this.rightSign = "注册"; // 注册
          this.btnTextSign = "登录"; // 注册按钮
          this.UsernamePwWrong = "用户名有误！";
          this.pwWarnSet = "请输入6~20位数字或字母！";
          this.inforWrongSet = "信息有误，请检查！";
          this.registerNumSet = "该手机号未注册,请先注册！";
          this.pwWrongSet = "密码有误，请重新输入！";
          this.forgetPw = "忘记密码？";
          this.instructionTtSign = "欢迎来到Butler,";
          this.instructionSign = "请登录."; //
          this.MobileNumber = "请输入手机号"; // 手机号
          this.PasswordPlac = "请输入密码"; // 密码
          this.countryCode = "国家代码"; // 国家代码
          this.counCodeWrong = "请输入2-3位国家代码的数字！"; // 国家代码有误
          this.phoneWrongSet = "手机号有误！";
          this.initOptions = this.$store.state.optionsCh; // 获取国家代码的中文
        }
        this.changeLanguage(); // 赋值国家代码
      },
      pwCheckSign: function() {
        // 密码格式验证(6-20位数字字母组合)
        let regNum = new RegExp(/^[\w]{6,20}$/); //6-20位数字或者字母
        if (!regNum.test(this.pwValSign)) {
          this.isShowSign = true; // 显示弹框
          this.verState = true; // 信息有误
          this.propmtTitleSign = this.pwWarnSet; //密码组合
          this.alertWarnClose(); // 提示框关闭
        } else {
          this.isShowSign = false;
          this.verState = false; // 误信息错误
        }
      },
      signInjump: function() {
        this.pwCheckSign();
        let _this = this; // 登录
        let registerCode = localStorage.getItem("registerCode"); // 获取手机验证码
        let codeNum = "+" + this.counCodeNumReg + "-"; // 国家代码
        let codeNumber = "%2B" + this.counCodeNumReg + "-"; // 国家代码转码
        let phoneNum = codeNum + _this.mobileNumSign; // 手机号
        let phoneNumber = codeNumber + _this.mobileNumSign; // 转码
        console.log("verState",this.verState);
        if (this.counCodeNumReg && 
          this.mobileNumSign && 
          this.pwValSign && 
          this.verState == false) {
          checkPhoneNum(); // 验证手机号
        } else {
          this.isShowSign = true;   // 信息有误
          this.propmtTitleSign = this.inforWrongSet; // 用户名或者密码有误
          this.alertWarnClose(); // 提示框关闭
        }
        function checkPhoneNum() {
          _this.axios
            .get(
              //登录接口
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/customer/get_profile/?" +
              _this.$root.junAppQuery +
              _this.$root.junAppName +
              "&phone=" +
              phoneNumber +
              ""
            )
            .then(
              function(sucss) {
                if (sucss.data.ret == "200") {
                  siginIn(); // 手机号已注册，验证密码
                }
              },
              function(err) {
                if (err.response.data.ret == "404") {
                  _this.isShowSign = true;
                  _this.propmtTitleSign = _this.registerNumSet; // 手机号未注册
                  _this.alertWarnClose(); // 提示框关闭
                }
              }
            );
        }
        // 验证密码
        function siginIn() {
          _this.axios
            .post(
              //登录接口
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/customer/login/?" +
              _this.$root.junAppQuery +
              _this.$root.junAppName +
              "&phone=" +
              phoneNumber +
              "", {
                phone: phoneNum, // 手机号
                password: _this.pwValSign, //用户的密码
                security_code: "" //手机验证码
              }
            )
            .then(function(sucss) {
              if (sucss.data.ret == "200") {
                console.log("document.cookieSignIn", document.cookie);
                localStorage.setItem("counCodeNumReg", _this.counCodeNumReg); // 存储国家代码
                localStorage.setItem("phoneNum", _this.mobileNumSign); // 存储当前登录的手机号
                localStorage.setItem("userLogin", "true"); // 已经登录过
                _this.setIsAutoLogin(true, phoneNum, _this.pwValSign); // 存储状态、手机号和密码
                let signRouter = localStorage.getItem("signRouter"); // 获取登录成功之后跳转的路径
                if (!signRouter) {
                  signRouter = "/index";
                }
                _this.$router.push({
                  path: signRouter
                }); // 跳转相应的路由页面
              } else if (sucss.data.ret == "403") {
                _this.isShowSign = true; // 显示弹框
                _this.propmtTitleSign = _this.pwWrongSet; // 显示密码有误
                _this.alertWarnClose(); // 提示框关闭
              }
            });
        }
      },
      phoneNumReg: function(){
        // 手机号验证
        let countryCode = "+"+this.counCodeNumReg+"-";  // 国家代码
        let comPhoneNumber = countryCode + this.mobileNumSign; // 国际代码+手机号
        let phoneNumberCode = this.$store.state.phoneNumReg;  // 手机号验证规则
        let tenCountryCode = this.$store.state.tenPhoneNum;  // 10个国家的号码
        let tenArr = [];
        let arr = []; 
        for(let m=0; m<tenCountryCode.length; m++){
          let tenCodeList = tenCountryCode[m].value;
          tenArr.push(tenCodeList);
        }
        if(tenArr.indexOf(this.counCodeNumReg) != "-1"){
          for(let i =0; i<phoneNumberCode.length; i++){
            let regList = phoneNumberCode[i].reg; // 验证规则
            let regNumVeg = new RegExp(regList);  // 验证正误
            if(!regNumVeg.test(comPhoneNumber)) {
              arr.push("false");  // 不匹配
            }else{
              arr.push("true"); // 匹配
            } 
          }
          if(arr.indexOf("true") == "-1"){
            // 没有匹配的数据
            this.verState = true; // 手机号有误
            this.isShowSign = true; //错误提示框弹出
            this.propmtTitleSign = this.phoneWrongSet; // 弹框提示：信息有误，请确认
            this.alertWarnClose(); // 关闭提示框
          }else{
            this.isShowSign = false; // 错误提示框不显示，手机号存在
            this.verState = false; // 手机号无误
          }
        }else{
          this.isShowSign = false; // 错误提示框不显示，手机号存在
          this.verState = false; // 手机号无误
        }
      },
      onChangeInput: function() {
        // 输入监听(输入框输入内容 按钮变色)
        if (this.mobileNumSign && this.pwValSign) {
          this.btnSign = {
            background: "#D2AC2B" // 手机号和密码都有输入内容，按钮变橙色
          };
        } else {
          this.btnSign = {
            background: "rgba(202,202,202,0.90)" // 手机号和密码有一个未输入，按钮为灰色
          };
        }
      },
      alertWarnClose: function() {
        // 错误提示弹框关闭
        let _this = this;
        setTimeout(function() {
          _this.isShowSign = false;
        }, 3000);
      },
      jumpBack: function() {
        this.$router.push({
          path: "/index"
        }); // 跳转到首页上
      },
      findPwF: function() {
        localStorage.setItem("findPwBack", "findPW"); // 设定找回密码返回地址    
      },
      changeLanguage:function(){
        if (this.languageChange == "en") {
          //英文状态下
          this.langOptions = this.$store.state.optionsEn;  // 获取国家代码的英文
        } else {
          //中文状态下
          this.langOptions = this.$store.state.optionsCh; // 获取国家代码的中文
        }
      },
      choiceCode:function(index){
        // 选择国家代码
        this.counCodeNumReg = this.langOptions[index].value;
        this.codeShow = false;  // 国家代码下拉框关闭
      },
      getChoiceCode:function(){
        // 聚焦国家代码
        this.codeShow = true; // 国家代码下拉框开启
        let _this = this;
        this.changeLanguage(); // 赋值国家代码
      },
      comChoiceCode:function(){
        // 完成选择(失焦)国家代码
        if(!this.counCodeNumReg || this.langOptions.length == 0){
          this.counCodeNumReg = "86";
        }else{
          if(this.counCodeNumReg){
            let codeNumber = parseInt(this.counCodeNumReg);
            if(!codeNumber){
               this.counCodeNumReg = "86";
            }
          }
        }
        this.codeShow = false;  // 国家代码下拉框关闭
      },
      filterCode:function(){
        // 录入国家代码时筛选
        let _this = this;
        let inputVal = this.counCodeNumReg;  // 获取国家代码
        let arrCode = []; // 存储含有输入信息的国家代码
        if(inputVal){
            for(let i=0; i<this.initOptions.length; i++){
              let strText = this.initOptions[i].text; // 获取数据
              let strValue = this.initOptions[i].value; // 获取国家代码值
              let strIcon = this.initOptions[i].icon; // 获国家图标
              if(!strIcon){
                strIcon = "";
              }
              if(strText.indexOf(inputVal) !=-1 ){
                let codeJson = {
                  text:strText, 
                  value:strValue,
                  icon:strIcon
                }
                arrCode.push(codeJson);  // 存储含有输入信息的国家代码 
              }
            }
            this.langOptions = arrCode;  // 赋值筛选出来的国家代码
            if(arrCode.length == 0){
              this.codeShow = false;  // 国家代码下拉框关闭
            }
        }else{
          this.changeLanguage(); // 赋值国家代码
        }
      }
    }
  };
</script>
<style src="../css/signIn.scss" lang="scss" scoped>

</style>
