.cartEmpty {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #F4F4F4;
    font-weight: lighter;
    a {
        display: block;
        color: #f4f4f4;
        font-weight: lighter;
    }
    .iconfont {
        cursor: pointer;
        color: #f4f4f4;
        font-weight: lighter;
    }
    .header-tt {
        float: left;
        width: 100%;
        height: 1.28rem;
        color: #fff;
        font-size: 0.36rem;
        position: absolute;
        z-index: 9999;
    }
    .header-ul {
        float: left;
        width: 100%;
        height: 0.8rem;
        margin-top: 0.48rem;
        line-height: 0.8rem;
    }
    .header-ul .iconfont {
        font-size: 0.52rem;
        color: #F4F4F4
    }
    .header-li-left {
        float: left;
        margin-left: 0.2rem;
        width: 0.7rem;
        text-align: left;
    }
    .header-li-middle {
        float: left;
        width: 5.7rem;
        height: 0.8rem;
    }
    .header-li-middle .iconfont {
        color: #D2AC2B;
        font-size: 0.48rem;
    }
    .header-li-mid .iconfont {
        text-align: center;
        font-size: 0.36rem;
    }
    .header-li-right {
        float: right;
        margin-right: 0.2rem;
        width: 0.7rem;
        text-align: right;
    }
    .cart-main {
        float: left;
        width: 100%;
        height: 8.94rem;
        margin-top: 1.28rem;
        background: #fff;
        border-top: 0.1rem solid rgba(17, 30, 64, 0.4);
    }
    .cart-warn {
        margin: 1.6rem auto;
        width: 5.2rem;
        height: 6.54rem;
    }
    .cart-warn-tt {
        line-height: 0.6rem;
        font-size: 0.32rem;
        color: #131318;
        font-weight: lighter;
    }
    .cart-img {
        margin: 0.5rem auto;
        width: 3.2rem;
        height: 2.7rem;
        .cart-images {
            width: 2.2rem;
        }
    }
    .cart-btn {
        margin: auto;
        width: 3.2rem;
        height: 0.84rem;
        background: #D2AC2B;
        border-radius: 0.08rem;
        border: 0;
        font-size: 0.36rem;
        color: #FFFFFF;
        letter-spacing: 0.015rem;
    }
    .payment-state {
        width: 6.5rem;
        .icon-state1,
        .icon-state2 {
            color: #D2AC2B;
            font-size: 2.2rem;
        }
        .pay-warning {
            font-size: 0.28rem;
            color: #8A8A8A;
            line-height: 0.5rem;
            margin-bottom: 0.8rem;
        }
        .payment-btn {
            margin: auto;
            width: 6.3rem;
            height: 1rem;
        }
        .pay-btnList {
            float: left;
            width: 2.4rem;
            margin: 0 0.25rem;
            .cart-btn {
                width: 2.4rem;
            }
            .pay-no {
                border: 0.01rem solid #D2AC2B;
                color: #D2AC2B;
                background: #fff;
                a {
                    color: #D2AC2B;
                }
            }
        }
    }
}