.setting{
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100%;
    color: #F4F4F4;
    font-weight: lighter;
    min-height: 667px;
    .header-ul{
        float:left;
        width: 100%;
        height: 0.8rem;
        margin-top: 0.48rem;
        line-height: 0.8rem;
    }
    .setting-main{
        float:left;
        width: 100%;
        height: auto;
        overflow: auto;
        .setting-test{
            float:left;
            width:100%;
            height: auto;
            .setting-top{
                float:left;
                width:100%;
                height: auto;
                background: rgba(252,2525,252,1);
                .set-top-li{
                    float:left;
                    width:100%;
                    height:1.02rem;
                    line-height: 1.02rem;
                    border-bottom:0.02rem solid #ccc; 
                    font-size: 0.32rem;
                    color: #191814; 
                    .top-li-tt{
                        float:left;
                        width:2.2rem;
                        height: 1rem;
                        margin-left: 0.2rem;
                        text-align: left;
                        font-weight: 500;
                    }
                    .top-li-text{
                        float:left;
                        width:4.3rem;
                        height: 1rem;
                        text-align: left;
                        .top-li-input{
                            float:left;
                            width:100%;
                            height: 0.9rem;
                            border:0;
                        }
                    }
                    .text-icon{
                        float:left;
                        width:auto;
                        height: 1.01rem;
                        line-height: 1.01rem;
                    }
                }
            }
            .setting-top-set{
                margin-top:0.1rem;
                .set-top-li{
                    .top-li-tt{
                        width:3rem;
                    }
                    .top-li-text{
                        width: 3.5rem; 
                    }
                    .top-li-phone-text{
                        width:4.2rem;
                        text-align: left;
                    }
                }
            }
            .iconfont, .icon-next{
                color:#8A8A8A;
                font-size: 0.32rem;
            }
        }
        .setting-test a{
            line-height: 0.5rem;
            height: 1rem;
            font-size:0.5rem;

        }
    
    }

    .setting-signOut{
        width:7.1rem; 
        font-size:0.36rem; 
        height:0.8rem; 
        line-height:0.8rem;
        border:0; 
        color:#fff;
        margin:0.15rem 0;
        position:absolute;
        left:0.2rem; 
        bottom:0; 
        text-align:center; 
        background:#D2AC2B; 
        border-radius:0.1rem; 
    }
   
    
}

